
<% if is_confirm %>
  <% action = :update_confirm %>
  <% meth   = :post %>
<% elsif is_edit %>
  <% action = :update %>
  <% meth   = :patch %>
<% else %>
  <% action = :create %>
  <% meth   = :post %>
<% end %>

<%= form_for @solver, :url => { :action => action }, :method => meth, :html => {:class=>'form-horizontal'} do |f| %>
  <div class="<%= form_error_class @solver, :name, :last_name%>">
    <% if is_confirm %>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <%= f.submit :class=>'btn btn-primary', :value=>'Potvrzuji uvedené údaje' %>
        </div>
      </div>
    <% end # if is confirm %>

    <% if is_edit %>
            <%= f.hidden_field :id %>
    <% end # is_edit %>
    <% if is_confirm %>
            <%= hidden_field_tag 'sosna_solver[confirm_state]', 'conf' %>
            <%= hidden_field_tag 'is_confirm', '1' %>
    <% end # is_confirm %>
    <% if is_bonus %>
            <%= hidden_field_tag 'sosna_solver[confirm_state]', 'bonus' %>
    <% end # is_bonus %>

    <div class="form-group">
      <%= f.label :solver_name, "Jméno a Příjmení", :class =>  'col-sm-3 control-label no-padding-right'%>
      <div class="col-sm-9 <%= form_error_class @solver, :email %>">
            <%= f.text_field :name %>
            <%= f.text_field :last_name %>
            <%= form_error @solver, :name, :last_name %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :solver_email, "Email", :class =>  'col-sm-3 control-label no-padding-right'%>
      <div class="col-sm-9 <%= form_error_class @solver, :email %>">
        <%= f.text_field :email %>
        <%= form_error @solver, :email %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :solver_street, "Ulice a č.p.", :class =>  'col-sm-3 control-label no-padding-right'%>
      <div class="col-sm-9 <%= form_error_class @solver, :street %>">
        <%= f.text_field :street %>
        <%= f.text_field :num, :class=>'input-mini'%>
        <%= form_error @solver, :street, :num %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :solver_street, "PSČ a Město", :class =>  'col-sm-3 control-label no-padding-right'%>
      <div class="col-sm-9 <%= form_error_class @solver, :psc, :city %>">
        <%= f.text_field :psc, :class=>'input-mini'%>
        <%= f.text_field :city %>
        <%= form_error @solver, :psc, :city %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :solver_country, "Země", :class =>  'col-sm-3 control-label no-padding-right'%>
      <div class="col-sm-9 <%= form_error_class @solver, :country %>">
         <%= f.select :country,
                 options_for_select( [['Česká republika', 'cz'], ['Slovensko', 'sk']],
                                     @solver.nil? ? 'cz' : @solver.country
                                   )
           %>
          <%= form_error @solver, :country %>
      </div>
    </div>

    <noscript>
      <div class='alert'>
        Pokud vyberete školu ze seznamu, není nutné vyplňovat název a adresu školy (nechte prázdné).<br/>
        Pokud škola v seznamu není, vyberte položku 'Jiná škola', a vyplňte název a adresu školy:
      </div>
    </noscript>

    <hr>

    <div class="form-group">
      <%= f.label :solver_school, "Škola", :class =>  'col-sm-3 control-label no-padding-right'%>
      <div class="col-sm-9 <%= form_error_class @solver, :school %>">
         <%= select :school, :id,
                 options_for_select(
                         [['Vyber školu', :none], ['Jiná škola', :jina]] +
                         @schools_sorted.map{ |s| ["#{s.long}, #{s.short}", s.id] } <<
                         ['Jiná škola', :jina],
                         (@school.nil? || @school.id.nil?) ? :none
                                         : @school.id < 0  ? :jina
                                                           : @school.id
                         )
           %>
          <%= form_error @solver, :skola %>
      </div>
    </div>

    <div id='school_div' >
      <% if ! @school.nil? %>
        <%= fields_for @school do |sf| %>
          <div class="form-group">
            <%= f.label :school_name, "Jméno školy", :class =>  'col-sm-3 control-label no-padding-right'%>
            <div class="col-sm-9 <%= form_error_class @school, :name %>">
              <%= sf.text_field :name %>
              <%= form_error @school, :name %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :solver_nazev, "Ulice a č.p.", :class =>  'col-sm-3 control-label no-padding-right'%>
            <div class="col-sm-9 <%= form_error_class @school, :street, :num %>">
                  <%= sf.text_field :street  %>
                  <%= sf.text_field :num, :class=>'input-mini'%>
                  <%= form_error @school, :street, :num %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :solver_nazev, "PSČ a Město", :class =>  'col-sm-3 control-label no-padding-right'%>
            <div class="col-sm-9 <%= form_error_class @school, :psc, :city %>">
                  <%= sf.text_field :psc, :class=>'input-mini'%>
                  <%= sf.text_field :city %>
                  <%= form_error @school, :psc, :city %>
            </div>
         </div>
        <% end # fields_for sf %>
      <% end # if !@school.nil? %>
    </div>


    <% if ! is_bonus %>
      <div class="form-group">
        <%= f.label :solver_where_to_send, "Způsob zasílání letáku (zadání)", :class =>  'col-sm-3 control-label no-padding-right'%>
        <div class="col-sm-9 <%= form_error_class @solver, :where_to_send %>">

           <%= select_tag "sosna_solver[where_to_send]",
                   options_for_select([['domů', 'home'],
                                       ['do školy', 'school'],
                                       ['na e-mail', 'email'],
                                       #['nezasílat', 'nowhere'],
                                       ],
                                       @solver.where_to_send)
             %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :solver_name, "Můj preferovaný způsob zasílání řešení", :class =>  'col-sm-3 control-label no-padding-right'%>
        <div class="col-sm-9 <%= form_error_class @solver, :solution_form %>">
           <%= select_tag "sosna_solver[solution_form]",
                   options_for_select([['elektronicky (Tep)', 'tep'],
                                       ['poštou, papírově',   'paper'],
                                       #['zatím nevím',        'unknown'],
                                       ],
                                       @solver.solution_form)
             %>
        </div>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :solver_finish_year, "Odpovídající ročník ZŠ", :class =>  'col-sm-3 control-label no-padding-right'%>
      <div class="col-sm-9 <%= form_error_class @solver, :finish_year, :grade %>">

       <%#= f.text_field :grade_num, :class=>'input-mini' %>
       <%= f.select(:grade_num, options_for_select((1..9), @solver.grade_num) , {}, {:class=> 'input-mini'}) %>
       Třída (6.A, prima, ...)
       <%= f.text_field :grade, :class=>'input-mini' %>
       <%= form_error @solver, :finish_year, :grade%>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :solver_finish_year, "Datum narozeni", :class =>  'col-sm-3 control-label no-padding-right'%>
      <div class="col-sm-9 <%= form_error_class @solver, :birth %>">
        <%= f.text_field :birth %>
        <%= form_error @solver, :birth %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :solver_sex, "Pohlaví", :class =>  'col-sm-3 control-label no-padding-right'%>
      <div class="col-sm-9 <%= form_error_class @solver, :sex %>">
        <label class="radio inline">
          <%= f.radio_button :sex, :male , :checked=> true %> řešitel
        </label>
        <label class="radio inline">
          <%= f.radio_button :sex, :female %> řešitelka
        </label>
       </div>
    </div>

    <hr>

    <div class="form-group">
      <%= f.label :solver_how_i_met_pikomat, :class =>  'col-sm-3 control-label no-padding-right' do %>
        O Pikomatu jsem se dozvěděl<span class='sex'>a</span>
      <% end %>
      <div class="col-sm-9 <%= form_error_class @solver, :how_i %>">
        <% how_i_met_ops = [['vyber si:', :vyber],
                            ['od kamaráda', :kamarad],
                            ['ve škole', :skola],
                            ['na táboře', :tabor],
                            ['z internetu', :internet],
                            ['už si nevzpomínám', :nevim],
                            ['od jinud', :jina]
                           ]

           how_i_met_selected = if how_i_met_ops.map { |item| item[1].to_s }.include?  @solver.how_i_met_pikomat
                                  @solver.how_i_met_pikomat
                                elsif @solver.how_i_met_pikomat.empty?
                                 'vyber'
                                else
                                 'jina'
                                end
        %>
        <%= f.select :how_i_met_pikomat,
            options_for_select( how_i_met_ops, how_i_met_selected )
        %>
      </div>
    </div>
    <div id='how_i_met_pikomat_detail_div' >
      <div class="form-group">
        <%= f.label :how_i_met_pikomat_detail, :class => 'col-sm-3 control-label no-padding-right' do%>
        <span id='how_i_met_pikomat_jina'>napiš odkud</span>
        <span id='how_i_met_pikomat_kamarad'>od jakého, možná dostane dárek</span>
        <% end %>
        <div class="col-sm-9">
          <%= f.text_field :how_i_met_pikomat_detail %>
        </div>
      </div>
    </div>

    <hr>

    <% if ! is_edit %>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9 <%= form_error_class @solver, :souhlasim %>">
         <label class="checkbox" for="souhlasim"> <%= check_box_tag 'souhlasim', '1', @agree %>
             Souhlasím se <a href="/gdpr">zpracováním osobních údajů</a>
             <%= form_error @solver, :souhlasim %>
         </label>
        </div>
      </div>
    <% end %>

    <% if !is_bonus && !current_user.nil? && current_user.admin?  %>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9 <%= form_error_class @solver, :send_first %>">
         <label class="checkbox" for="send_first"> <%= check_box_tag 'send_first', '1' %>
             Zaslat uvítací email
         </label>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9 <%= form_error_class @solver, :is_test_solver %>">
         <label class="checkbox" for="sosna_solver_is_test_solver"> <%= f.check_box :is_test_solver %>
             Testovací uživatel (nebude ve výsledkovkách)
         </label>
        </div>
      </div>
      <% if ! is_confirm %>
        <div class="form-group">
          <%= f.label :solver_confirm_state, "Stav confirmace", :class =>  'col-sm-3 control-label no-padding-right'%>
          <div class="col-sm-9 <%= form_error_class @solver, :confirm_state %>">
             <%= select_tag "sosna_solver[confirm_state]",
                     options_for_select([['none -- confirmováno není a nechce se',                    'none'],
                                         ['conf -- confirmovano',                                     'conf'],
                                         ['next -- bude vyžadována confirmace při přihlášení',        'next'],
                                         ['bonus -- pouze bonusová serie',                            'bonus'],
                                         ],
                                         @solver.confirm_state)
               %>
          </div>
        <% end # ! is_confirm %>
      </div>
    <% end # is_bonnus %>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <% if is_confirm %>
            <%= f.submit :class=>'btn btn-primary', :value=>'Potvrzuji uvedené údaje' %>
        <% else %>
          <% if is_edit %>
            <%= f.submit :class=>'btn btn-primary', :value=>'Uložit' %>
          <% else %>
            <%= f.submit :class=>'btn btn-primary', :value=>'Přihlásit se do Pikomatu' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end # form f %>
