
<%= form_for @solver, :url => { :action => (is_edit ? :update : :create) },  :method => :post, :html => {:class=>'form-horizontal'} do |f| %>
<div class="<%= form_error_class @solver, :name, :last_name%>">
  <% if is_edit %>
          <%= f.hidden_field :id %>
  <% end %>
  <label class="control-label" for="solver_name">Jméno a Příjmení</label>
  <div class="controls">
          <%= f.text_field :name %>
          <%= f.text_field :last_name %>
          <%= form_error @solver, :name, :last_name %>
  </div>
</div>

<div class="<%= form_error_class @solver, :email %>">
  <label class="control-label" for="solver_email">Email</label>
  <div class="controls"><%= f.text_field :email %><%= form_error @solver, :email %></div>
</div>

<div class="<%= form_error_class @solver, :street, :num %>">
  <label class="control-label" for="solver_street">Ulice a č.p.</label>
  <div class="controls">
          <%= f.text_field :street %>
          <%= f.text_field :num, :class=>'input-mini'%>
          <%= form_error @solver, :street, :num %>
  </div>
</div>

<div class="<%= form_error_class @solver, :psc, :city%>">
  <label class="control-label" for="solver_psc">PSČ a Město</label>
  <div class="controls">
          <%= f.text_field :psc, :class=>'input-mini'%>
          <%= f.text_field :city %>
          <%= form_error @solver, :psc, :city %>
  </div>
</div>
<hr>

<noscript>
<div class='alert'>
Pokud vyberete školu ze seznamu, není nutné vyplňovat název a adresu školy (nechte prázdné).<br/>
Pokud škola v seznamu není, vyberte položku 'Jiná škola', a vyplňte název a adresu školy:
</div>
</noscript>

<div class="<%= form_error_class @solver, :skola %>">
  <label class="control-label" for="school">Škola</label>
  <div class="controls">
       <%= select :school, :id,
               options_for_select(
                       [['Vyber školu', :none]] +
                       @schools.map{ |s| ["#{s.short}, #{s.long}", s.id] } <<
                       ['Jiná škola', :jina],
                       @school.id.nil? ? :none 
                                      : @school.id < 0  ? :jina
                                                        : @school.id
                                                      
                       )
         %>
        <%= form_error @solver, :skola %>
  </div>
</div>


<%# <div id='school_div' class='hide'> %>
<div id='school_div' >
<%= fields_for @school do |sf| %>
<div class="<%= form_error_class @school, :name %>">
  <label class="control-label" for="school_nazev">Název školy.</label>
  <div class="controls">
          <%= sf.text_field :name %>
          <%= form_error @school, :name %>
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="school_nazev">Ulice a č.p.</label>
  <div class="controls">
          <%= sf.text_field :street  %>
          <%= sf.text_field :num, :class=>'input-mini'%>
          <%= form_error @school, :street, :num %>
  </div>
</div>
<div class="<%= form_error_class @school, :psc, :city%>">
  <label class="control-label" for="_nazev">PSČ a Město</label>
  <div class="controls">
          <%= sf.text_field :psc, :class=>'input-mini'%>
          <%= sf.text_field :city %>
          <%= form_error @school, :psc, :city %>
  </div>
</div>
<% end %>
</div>

<hr>

<div class="control-group">
  <label class="control-label" for="solver_where_to_send">Koresponenci zasílejte</label>
  <div class="controls">
       <%= select_tag "sosna_solver[where_to_send]",
               options_for_select([['domů', 'home'],
                                   ['do školy', 'school'],
                                   ['na e-mail', 'email'],
                                   ['nezasílat', 'nowhere'],
                                   ],
                                   @solver.where_to_send)
         %>
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="solver_solution_form">Můj preferovaný způsob zasílání řešení</label>
  <div class="controls">
       <%= select_tag "sosna_solver[solution_form]",
               options_for_select([['elektronicky (Tep)', 'tep'],
                                   ['poštou, papírově',   'paper'],
                                   ['zatím nevím',        'unknown'],
                                   ],
                                   @solver.where_to_send)
         %>
  </div>
</div>


<div class="<%= form_error_class @solver, :finish_year, :grade%>">
  <label class="control-label" for="_nazev">Odpovídající ročník</label>
  <div class="controls">
     <%#= f.text_field :grade_num, :class=>'input-mini' %>
     <%= f.select(:grade_num, options_for_select((1..9), @solver.grade_num) , {}, {:class=> 'input-mini'}) %>
     Třída (6.A, prima, ...)
     <%= f.text_field :grade, :class=>'input-mini' %>
     <%= form_error @solver, :finish_year, :grade%>
  </div>
</div>

<div class="<%= form_error_class @solver, :birth %>">
  <label class="control-label" for="_nazev">Datum narození</label>
  <div class="controls">
     <%= f.text_field :birth %>
     <%= form_error @solver, :birth %>
  </div>
</div>



<div class="control-group">
  <label class="control-label" for="_nazev">Pohlaví</label>

  <div class="controls">
    <label class="radio inline">
      <%= f.radio_button :sex, :male , :checked=> true %> řešitel
    </label>
    <label class="radio inline">
      <%= f.radio_button :sex, :female %> řešitelka
    </label>
  </div>
</div>

<hr>

<% if ! is_edit %>
  <div class="<%= form_error_class @solver, :souhlasim %>">
    <div class="controls">
     <label class="checkbox" for="souhlasim"> <%= check_box_tag 'souhlasim', '1', @agree %>
         Souhlasím se <a href="#souhlas">zpracováním osobních údajů</a>
         <%= form_error @solver, :souhlasim %>
     </label>
    </div>
  </div>
<% end %>

<% if !current_user.nil? && current_user.admin?  %>
  <div class="control-group">
    <div class="controls">
     <label class="checkbox" for="send_first"> <%= check_box_tag 'send_first', '1' %>
         Zaslat uvítací email 
     </label>
    </div>
  </div>
<% end %>


<div class="control-group">
  <div class="controls">
  <% if is_edit %>
     <%= f.submit :class=>'btn btn-primary', :value=>'Uložit' %></div>
  <% else %>
     <%= f.submit :class=>'btn btn-primary', :value=>'Přihlásit se do Pikomatu' %></div>
  <% end %>
</div>


<% end %>
