
<h3>Aesop, aneb  export pro OVVP</h3>

<% cur_file = "ovvp.#{@annual}.#{@round_max}.txt" %>
<ul>
  <li><%= link_to  'index', @aesop_url %></li>
  <li><%= link_to  'ovvp.index.txt', "#{@aesop_url}/ovvp.index.txt"%></li>
  <li><%= link_to  cur_file , "#{@aesop_url}/#{cur_file}" %></li>
</ul>

<%= form_tag :action => :aesop_create  do%>
  <button class="btn btn-danger" type="submit" >Vytvorit <%= cur_file %></button>
<% end %>
