<%= heading_with_tools "Seznam řešitelů #{@annual}. ročníku" do %>

    <%= link_to 'Založit nového řešitele',
                { action: :new },
                { :class=> 'btn btn-primary'} %>

    <%= link_to 'Lidi.pik',
                { format: 'pik'},
                { :class=> 'btn btn-primary'} %>

    <%= link_to 'Štítky.pdf',
                { action: :labels },
                { :class=> 'btn btn-primary'} %>
    <%= link_to 'Tep emails',
                { action: :tep_emails },
                { :class=> 'btn btn-primary'} %>
    <div class="btn-group">
        <%= form_tag({:controller => :solver, :action => :confirm_none_to_next}, :class => 'btn-group form-inline') do %>
                <button type="submit" class="btn btn-primary"> <i class="fa fa-flash"></i>Návratky 'none' -> 'next'</button>
       <% end %>
    </div>
<% end %>

    <table class="table table-bordered datatable">
      <thead>
        <tr>
         <th>Id</th>
         <th title="Uživatel">Už.</th>
         <th>Jméno</th>
         <th>Příjmení</th>
         <th>Škola</th>
         <th>P</th>
         <th>Ročník</th>
         <th>RN</th>
         <th>Kam</th>
         <th>Jak</th>
         <th>Adresa</th>
         <th title="Zeme">Z</th>
         <th title="Navrátka (none,conf,need)">N</th>
       </tr>
       </thead>
     <tbody>
    <% @solvers.each do |s| %>
      <tr <%if s.is_test_solver%> class="warning"<%end%>>
        <td>
           <%= link_to s.id, :action => :show, :id => s.id %></a>
           <%if s.is_test_solver %> <i title="TESTOVACÍ ŘEŠITEL" class="fa fa-crosshairs"></i> <% end %>
           <%if @solver_names[s.full_name].to_i > 1 %> <i title="Kolizní jméno" class="fa fa-scissors"></i> <% end %>
        </td>
        <td>
           <% if s.user %>
             <% if !s.user_email_consistent? %><span title="řešitel nemá stejný email jako jeho uživatel (<%="#{s.email} vs #{s.user_email}"%>)">!!!</span><% end %>
               <% if current_user.admin? %>
                 <%= link_to s.user.id, user_show_path(s.user.id)%>
               <% else %>
                 <%= s.user.id %>
               <% end %>
           <% else %>
             NONE!!!!!!
           <% end %>
        </td>
        <td>
            <%= s.name %></td>
        <td><%= s.last_name %></td>
        <td>
          <% if s.school %>
             <% sch = s.school %>
             <span title="<%= sch.long %>"><%= link_to sch.short||'?', :controller =>  'sosna/school', :action => :show, :id => sch.id %></span>
          <% else %>
             -
          <% end %>
        </td>
        <td><%= s.sex %></td>
        <td><%= s.grade %> </td>
        <td><%= s.grade_num %> </td>
        <td><%= s.where_to_send %> </td>
        <td><%= s.solution_form %> </td>
        <td><%= s.address %> </td>
        <td><%= s.country %> </td>
        <% conf_class = case s.confirm_state
                        when 'conf'; 'bg-green'
                        when 'next'; 'bg-yellow'
                        else 'bg-red'
                        end
                        %>
        <td class="<%=conf_class%>"><%= s.confirm_state %> </td>
      </tr>
    <% end %>
     </tbody>
    </table>

  <div>
    <i>Legenda</i>:
    <b>Id</b> <i title="TESTOVACÍ ŘEŠITEL" class="fa fa-crosshairs"></i> testovací uživatel; 
              <i title="Kolizní jméno" class="fa fa-scissors"></i> kolizní jméno a příjmení;
    <b>Návratky</b>
    <span class='bg-green box'>conf</span> -- návratka potvrezna (confirmed);
    <span class='bg-yellow box'>next</span> -- při následujícím přístupu k 'Moje řešení' bude vyžadováno odsouhlasení návratky;
    <span class='bg-red box'>none</span> -- návratka nepotvrzena.
  </div>

