
<div class="tabbable">

  <ul id="myTab" class="nav nav-tabs">
     <li class="active"> <a href="#envelops" data-toggle="tab">Obálky</a> </li>
     <li> <a href="#labels" data-toggle="tab">Štítky</a> </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane in active" id="envelops">
      <%= form_tag sosna_solver_labels_post_path(:format => :pdf), :method => :post , :class=> 'form-horizontal' do %>
      
        <%= hidden_field_tag :envelope, 1%>

        <div class="form-group">
          <div class="col-sm-12">
            <%= text_area_tag 'opt', "pl:20\npt:20\nal:120\nat:80\np:C5", cols: 80, rows: 5 %>
          </div>
        </div>


        <div class="form-group">
          <div class="col-sm-9">
            <p><b>Legenda:</b>
                <code>pl</code> adresa pikomatu od leveho okraje
                <code>pt</code> adresa pikmmatu od horniho okraje
                <code>al</code> adresat od horniho okraje
                <code>at</code> adresat od spodniho okraje
                <code>ps</code> velikost fontu (pikomat)
                <code>as</code> velikost fontu (adresat)
                <code>p</code> paper  C5, C4, ...
            </p>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <p><b>Id účastníků</b> jedno číslo na řádek,vše za středníkem bude
            ignorováno, takže je možné pastnout přímo jen vybrané řádky
            z <code>lidi.pik</code>, pokud toto pole bude prázdné bere se
            aktuální ročník (<%= @annual %>):</p>

            <%= text_area_tag 'ids', '', cols: 80, rows: 2 %>
          </div>
        </div>
      
        <div class="form-group">
          <div class="col-sm-9">
           <label class="checkbox" for="dbg">
             <%= check_box_tag 'dbg', '1', false %> Rámečky a zaměřovací kříže 
           </label>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-9">
           <label class="checkbox" for="obalkovani"> <%= check_box_tag 'obalkovani', '1', true %> Obálkování
                 (jen ti co mají
                   <code>solution_form</code> nastavený na <code>paper</code>).
           </label>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-9">
           <label class="checkbox" for="skoly"> <%= check_box_tag 'skoly', '1', false %> Školy, které mají nastavené <code>want_paper</code>.
           </label>
          </div>
        </div>
      
      
        <div class="form-group">
          <div class="col-sm-9">
            <%= submit_tag 'Generuj obalky.pdf', :class=>'btn btn-primary' %>
          </div>
        </div>
      <% end %>

    </div>

    <div class="tab-pane" id="labels">

      <%= form_tag sosna_solver_labels_path(:format => :pdf), :method => :get , :class=> 'form-horizontal' do %>
      
        <div class="form-group">
          <div class="col-sm-12">
            <%= text_area_tag 'opt', "l:10\nt:10\nw:50\nh:30\ndx:3\ndy:3\ns:10", cols: 80, rows: 7 %>
          </div>
        </div>
      
        <div class="form-group">
          <div class="col-sm-9">
           <label class="checkbox" for="dbg">
             <%= check_box_tag 'dbg', '1', false %> Rámečky a zaměřovací kříže 
           </label>
          </div>
        </div>
      
        <div class="form-group">
          <div class="col-sm-9">
            <p><b>Legenda:</b>
                <code>l</code> od levého okraj;
                <code>t</code> od hora (top);
                <code>w</code> šířka (width);
                <code>h</code> výška (height);
                <code>dx</code> mezera vodorovná;
                <code>dy</code> mezera svislá;
                <code>s</code> velikost fontu (v pt=1/72in=0.3mm), ostaní jsou
                               v milimetrech.</p>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-9">
            <p><b>Id účastníků</b> jedno číslo na řádek,vše za středníkem bude
            ignorováno, takže je možné pastnout přímo jen vybrané řádky
            z <code>lidi.pik</code>, pokud toto pole bude prázdné bere se
            aktuální ročník (<%= @annual %>):</p>

            <%= text_area_tag 'ids', '', cols: 80, rows: 2 %>
          </div>
        </div>
      
        <div class="form-group">
          <div class="col-sm-9">
            <%= submit_tag 'Generuj labels.pdf', :class=>'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

