
<h1>Editace řešitele <%= @solver.annual %>. ročníku</h1>

<%= render partial: 'form', locals: { is_edit: true } %>


<hr>
<% user = @solver.user %>
<% if user %>
   Řešitel je uživatelem tepu <%= link_to "#{user.name} #{user.last_name} (#{user.email})" , user_show_path(user.id) %>.
<% else %>
  Řešitel nemá nemá uživatele
<% end %>
<hr>



<hr>

<%= link_to 'Nahraj řešení manuálně', sosna_solutions_user_url(@annual, @round, @solver.id), :class => 'btn btn-primary' %>

<hr>
<% if @solver.annual != @annual %>
  <%= form_tag sosna_solver_dup_url(@solver.id) do %>
    <%= submit_tag  "Duplikovat řešitele do současného. ročníku", :class=>'btn btn-primary' %>
  <% end %>
<% else %>
  je současný, není možné duplikovat
<% end %>
<hr>

<hr>
<hr>
<hr>
<hr>

<% if can? :delete, Sosna::Solver %>
  <%= form_tag sosna_solver_delete_path(id:@solver.id) do %>
    <%= submit_tag  'Smazat řešitele (nebude žádné "jsi si jistý?")', :class=>'btn btn-danger' %>
  <% end %>
<% else %>
    <%= submit_tag  'Smazat řešitele může adm', :class=>'btn btn-disabled' %></div>
<% end %>
