
<h1>Spam <%= @annual %>. ročník <%= @round %>. série </h1>
<% @spam ||= {} %>


<% if false %>
Link: <%= link_to @url, @url %>, <%= link_to "zde", @url %>.
<% end %>

<%= form_tag sosna_solver_do_spam_url, :class=>'form-horizontal' do %>
  <div>

<% if false %>
    <div class="form-group">
        <%= label_tag :solver_confirm_state, "Vzor mailu ", :class =>  'col-sm-3 control-label no-padding-right'%>
        <div class="col-sm-9">
           <%= select_tag "template",
               options_for_select([['soultion_notification','solution_notification'],
                                      ])
           %>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <label class="checkbox" for="last_round"> <%= check_box_tag 'last_round', value=1, checked = false  %>
                řešitelé poslední série (poslali řešení ale mohou mít 0 bodů).
            </label>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <label class="checkbox" for="all_rounds"> <%= check_box_tag 'all_rounds', value=0, checked = false  %>
                řešitelé poslali alespoň jednu sérii (ale mohou mít 0 bodů).
            </label>
        </div>
    </div>
<% end %>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <label class="checkbox" for="all_solvers"> <%= check_box_tag 'all_solvers', value=0, checked = false  %>
                všichni řešitelé <%= @annual %>. ročníku.
            </label>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <label class="checkbox" for="where_to_send_email"> <%= check_box_tag 'where_to_send_email', value=1, checked = false  %>
                ti co mají nastaveno zasílat emailem (<code>where_to_send_email = email</code>).
            </label>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <label class="checkbox" for="tome"> <%= check_box_tag 'tome', value=1, checked = true  %>
                poslat sobě (<%= current_user.email %>)
            </label>
        </div>
    </div>


    <div class="form-group">
        <%= label_tag :email, "Přidat tyto maily (jeden na řádek)", :class =>  'col-sm-3 control-label no-padding-right'%>
        <div class="col-sm-9" >
              <%= text_area_tag :emails, @spam[:emails], cols: 50 %>
        </div>
    </div>
    <div class="form-group">
        <%= label_tag :subject, "Odesilatel", :class =>  'col-sm-3 control-label no-padding-right'%>
        <div class="col-sm-9" >
              <%  emails = %w( 
                 tep@pikomat.mff.cuni.cz 
                 tabor@pikomat.mff.cuni.cz 
                 soustredeni@pikomat.mff.cuni.cz 
                 besidka@pikomat.mff.cuni.cz 
              )%>
              <%= select_tag :from, options_for_select(emails, @spam[:from]) %></td>
        </div>
    </div>

    <div class="form-group">
        <%= label_tag :subject, "Předmět", :class =>  'col-sm-3 control-label no-padding-right'%>
        <div class="col-sm-9" >
              <%= text_field_tag :subject, @spam[:subject], size: 80 %>
        </div>
    </div>

    <div class="form-group">
        <%= label_tag :wiki, "Text", :class =>  'col-sm-3 control-label no-padding-right'%>
        <div class="col-sm-9" >
              <%= text_area_tag :wiki, @spam[:wiki], cols: 80, rows: 15 %>
        </div>
    </div>
    <div class="form-group">
        <%= label_tag :wiki, "Patička", :class =>  'col-sm-3 control-label no-padding-right'%>
        <div class="col-sm-9" >
              <%= text_area_tag :bottom_wiki, @spam[:bottom_wiki], cols: 80, rows: 5 %>
        </div>
    </div>
  
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <label class="checkbox" for="dryrun"> <%= check_box_tag 'dryrun', value=1, checked = true  %>
            pouze vyzkoušet, neposílat, (dry run)
            </label>
        </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <%= submit_tag 'Pošli spam', :class=>'btn btn-primary' %>
      </div>
    </div>

  </div>
<% end %>

<h3>Náhled</h3>

<div class="col-sm-10">
  <div class="well">
    <%== @spam[:html] %>
    <% if @spam[:bottom_html] %><%== @spam[:bottom_html] %><% end %>
  </div>
</div>
