<% if is_edit %>
  <% url_dest = event_category_path %>
  <% method = :patch %>
<% else %>
  <% url_dest = event_categories_path %>
  <% method = :post %>
<% end %>

<%= form_for :event_category, :url => url_dest, :method => method, :html => {:class=>'form-horizontal'} do |f| %>
  <div class="<%= form_error_class @event_category, :name%>">
  
  <div class="form-group">
    <%= f.label :code, "Kód", :class => 'col-sm-2 control-label no-padding-right'%>
    <div class="col-sm-10 <%= form_error_class @event_category, :code %>">
      <%= f.text_field :code %>
      <%= form_error @event_category, :code %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :idx, "Řadící index", :class => 'col-sm-2 control-label no-padding-right'%>
    <div class="col-sm-10 <%= form_error_class @event_category, :idx %>">
      <%= f.text_field :idx %>
      <%= form_error @event_category, :idx %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :name, "Jméno", :class => 'col-sm-2 control-label no-padding-right'%>
    <div class="col-sm-10 <%= form_error_class @event_category, :name %>">
      <%= f.text_field :name %>
      <%= form_error @event_category, :name %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :multi_day, "Počet dní", :class => 'col-sm-2 control-label no-padding-right'%>
    <div class="col-sm-10 <%= form_error_class @event_category, :multi_day %>">
      <%= f.select :multi_day, [["Jednodenní", false], ["Vícedenní", true]] %>
      <%= form_error @event_category, :multi_day %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, "Popis:", :class => 'col-sm-2 control-label no-padding-right'%>
    <div class="col-sm-10 <%= form_error_class @event_category, :description %>">
      <%= f.text_field :description %>
      <%= form_error @event_category, :description %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :visible, "Kdo se o typu akce vůbec dozví", :class => 'col-sm-2 control-label no-padding-right'%>
    <div class="col-sm-9 <%= form_error_class @event_category, :visible %>">
      <%= f.select :visible, [["každý", "ev"], ["user", "user"], ["org", "org"]] %>
      <%= form_error @event_category, :visible %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-9">
      <%= f.submit :class=>'btn btn-primary', :value=>'Uložit typ akce' %>
    </div>
  </div>

<% end %>


