<h1>
  Edituj typ akce "<%= @event_category.name %>"
  <%= button_tag "Zpět", :href => event_categories_path, :class=>'btn', :ico =>'fa-reply' %>
</h1>

<% if can? :delete, EventCategory %>
  <%= render :partial => "form_edit", :locals => { :is_edit => true } %>
<% end %>

<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>

<% if can? :delete, EventCategory %>
  <%= form_tag delete_event_category_path(code: @event_category.code) do %>
    <%= submit_tag  'Smazat typ akce (nebude žádné "jsi si jistý?")', :class=>'btn btn-danger' %>
  <% end %>
<% else %>
    <%= submit_tag  'Smazat typ akce může pouze admin', :class=>'btn btn-disabled' %></div>
<% end %>

