<% if current_user.org? %>
<p>
<%= "ID: " + scout.id.to_s %>
</p>
<% end %>

<p>
<%= "Jméno: " + scout.name.to_s %>
</p>

<p>
<%= "Příjmení: " + scout.last_name.to_s %>
</p>

<p>
<%= "Přezdívka: " + scout.nickname.to_s %>
</p>

<p>
<%= "Pohlaví: " + scout.sex_str() %>
</p>

<p>
<%= "Datum narození: " + scout.birth_str() %>
</p>

<p>
<%= "Ročník: " + scout.grade.to_s %>
</p>

<p>
<%= "Adresa: " + scout.address.to_s %>
</p>

<p>
<%= "Email: " + scout.email.to_s %>
</p>

<p>
<%= "Email na zákonného zástupce: " + scout.parent_email.to_s %>
</p>

<p>
<%= "Telefonní číslo: " + scout.phone.to_s %>
</p>

<p>
<%= "Telefonní číslo na zákonného zástupce: " + scout.parent_phone.to_s %>
</p>

<p>
<%= "Stravovací návyky: " + scout.eating_habits.to_s %>
</p>

<p>
<%= "Zdravotní problémy: " + scout.health_problems.to_s %>
</p>

<p>
<%= "Rodné číslo: " + scout.birth_number.to_s %>
</p>

<p>
<%= "Zdravotní pojišťovna: " + scout.health_insurance.to_s %>
</p>
