<div class="col-sm-6">
  <center>
    <h2>Účastnický účet</h2>
<% if (can? :edit_other, Act::Scout) || Act::Scout::scout_id(current_user) == @scout.id.to_i %>
  <%= button_tag "Edituj účet", :href => act_scout_edit_path(@scout), :class=>'btn btn-primary', :ico => 'fa-edit' %>
<% end %>
<% if can? :show_other, Act::Scout %>
  <%= button_tag "Zpět", :href => act_scouts_path, :class=>'btn', :ico =>'fa-reply' %>
<% end %>
<br><br>

<%= render :partial => "info", locals: { scout: @scout } %>

  </center></div>

  <center>
<h2>Moje akce</h2>

<%= render :partial => "act/events/events_brief", locals: { events: @my_events } %>

<h2>Kam bych se ještě mohl/a přihlásit</h2>

<%= render :partial => "act/events/events_brief", locals: { events: @not_my_events } %>

<h2>Kam ještě nevím, jestli chci jet</h2>

<%= render :partial => "act/events/events_brief", locals: { events: @maybe_events } %>

<h2>Kam vím, že nepojedu</h2>

<%= render :partial => "act/events/events_brief", locals: { events: @no_events } %>
  </center>
