
<h1>Přihláška do <%= @config[:annual] %>. ročníku Pikomatu</h1>

<%= form_for @applicant, :url => { :action => :create },  :html => {:class=>'form-horizontal'} do |f| %>
<div class="control-group">
  <label class="control-label" for="applicant_name">Jméno a Příjmení</label>
  <div class="controls">
          <%= f.text_field :name %>
          <%= f.text_field :last_name %>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="applicant_email">Email</label>
  <div class="controls"><%= f.text_field :email %></div>
</div>

<div class="control-group">
  <label class="control-label" for="applicant_street">Ulice a č.p.</label>
  <div class="controls">
          <%= f.text_field :street %>
          <%= f.text_field :house_num, :class=>'input-mini'%>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="applicant_psc">PSČ a Město</label>
  <div class="controls">
          <%= f.text_field :psc, :class=>'input-mini'%>
          <%= f.text_field :city %>
  </div>
</div>
<hr>
<div class="control-group">
  <label class="control-label" for="school">Škola</label>
  <div class="controls">
       <%= select :school, :id,
               options_for_select(
                       [['Vyber školu', :none]] +
                       @schools.map{ |s| [s.name, s.id] } <<
                       ['Jiná škola', :jina],
                       @school.id.nil? ? :none 
                                      : @school.id < 0  ? :jina
                                                        : @school.id
                                                      
                       )
         %>
  </div>
</div>

<div id='school_div'>
<div class="control-group">
  <label class="control-label" for="school_nazev">Ulice a č.p.</label>
  <div class="controls">
          <%= text_field :sosna_school, :street, :value =>  @school.street || '' %>
          <%= text_field :sosna_school, :house_num, :value =>  @school.house_num, :class=>'input-mini'%>
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="_nazev">PSČ a Město</label>
  <div class="controls">
          <%= text_field :sosna_school, :psc, :value => @school.psc, :class=>'input-mini'%>
          <%= text_field :sosna_school, :city, :value => @school.city %>
  </div>
</div>
</div>

<div class="control-group">
  <label class="control-label" for="applicant_where_to_send">Koresponenci zasílejte</label>
  <div class="controls">
       <%= select_tag "where_to_send",
               options_for_select([['domů', 'home'],
                                   ['do školy', 'school']],
                                   'home')
         %>
  </div>
</div>

<hr>

<div class="control-group">
  <label class="control-label" for="_nazev">Rok maturity</label>
  <div class="controls">
     <%= f.text_field :finish_year, :class=>'input-mini' %>
     Třída
     <%= f.text_field :grade, :class=>'input-mini' %>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="_nazev">Datum narození</label>
  <div class="controls">
     <%= f.text_field :birth %>
  </div>
</div>



<div class="control-group">
  <label class="control-label" for="_nazev">Pohlaví</label>

  <div class="controls">
    <label class="radio inline">
      <%= f.radio_button :sex, :male , :checked=> true %> řešitel
    </label>
    <label class="radio inline">
      <%= f.radio_button :sex, :female %> řešitelka
    </label>
  </div>
</div>

<hr>

<div class="control-group">
  <div class="controls">
     <label class="checkbox" for="_chnazev"> <%= check_box :souhlasim , :yes %> Souhlasím se <a href="#souhlas">zpracováním osobních údajů</a></label>
  </div>
</div>




<div class="control-group">
  <div class="controls"><%= f.submit :class=>'btn btn-primary', :value=>'Přihlásit se do Pikomatu' %></div>
</div>

<% end %>

<hr>
<a name="souhlas"></a>
<h3>Souhlas se zpracovnáním osobních údajů</h3>

<p>
Vaše osobní údaje, které nám v přilhlášce do soutěže poskytujete,
požívají ochrany podle zákona č. 101/2000 Sb., o ochraně osobních
údajů. Podle tohoto zákona je potřebné, abyste poskytli souhlas se
zpracováváním svých osobních údajů. Správcem osobních údajů je
Univerzita Karlova v Praze, Matematicko-fyzikální fakulta,
OVVP/organizátoři soutěže Pikomat MFF UK, Ke Karlovu 3, 121 16 Praha
2. Podle zákona nejste povinni tyto osobní údaje poskytnout. Správce
je povinen jednou za kalendářní rok bezplatně, jinak za přiměřenou
úhradu vám na základě písemné žádosti poskytnout informace o osobních
údajích o vás zpracovávaných.
Souhlasím se zpracováváním osobních údajů v rozsahu uvedeném v tomto
formuláři, zpracovatelem: Univerzita Karlova v Praze,
Matematicko-fyzikální fakulta, na období do konce roku 2014 za účelem:

<ul>
<li>zasílání materiálů korespondenční soutěže Pikomat MFF UK</li>
<li>informování o dalších akcích MFF a vysokoškolském studiu</li>
</ul>
</p>

<hr>
<pre>
<%= debug @school.id %>
<%= debug @school %>
<%= debug @applicant %>
