<p>
<% if event_participant.scout.org? %>
  <b style="color:#196f3d;">
<% elsif %>
  <b style="color:#ba4a00;">
<% else %>
  <b>
<% end %>
  <% if @edit_participants %>
    <div class="col-sm-offset-0 col-sm-2">
  <% end %>
  <% if can? :show_other, Act::Scout %>
    <%= link_to event_participant.scout.scout_name(), act_scout_path(event_participant.scout_id) %>
  <% else %>
    <%= event_participant.scout.scout_name() %>
  <% end %>
  <% if @edit_participants %>
    </div>
  <% else %>
    <% if event_participant.scout.org? %>
      (org)
    <% end %>
  <% end %>

  <% if @edit_participants %>
    <div class="col-sm-offset-0 col-sm-2">
      poznámka:
    </div>
    <% if event_participant.event.spec_place %>
      <div class="col-sm-offset-0 col-sm-3">
        nastupuje v:
      </div>
    <% end %>

    <% if event_participant.event.spec_scout %>
      <div class="col-sm-offset-0 col-sm-2">
        specifika dítěte:
      </div>
    <% end %>

    <% if event_participant.event.spec_mass %>
      <div class="col-sm-offset-0 col-sm-1">
        na mši:
      </div>
    <% end %>

    <br>
      <%= form_for :event_participant, :url => act_event_update_participant_path(event_participant.event_id, event_participant.scout_id) do |f| %>
      <% f.hidden_field :scout_id %>
      <% f.hidden_field :event_id %>

      <%= f.select :status, [["půjdu", "yes"], ["možná", "maybe"], ["nezúčastním se", "no"]], :selected => event_participant.status %>
      <%= f.text_field :note, :value => event_participant.note %>

      <% if event_participant.event.spec_place %>
        <%= f.text_field :place, :value => event_participant.place %>
      <% end %>

      <% if event_participant.event.spec_scout %>
        <%= f.text_field :scout_info, :value => event_participant.scout_info %>
      <% end %>

      <% if event_participant.event.spec_mass %>
        <%= f.select :mass, [["chce", true], ["nechce", false]], :selected => event_participant.mass %>
      <% end %>

      <%= f.submit "Uložit", :class => 'btn btn-primary' %>
    <% end %>

    <% if (can? :delete, Act::EventParticipant) || ((can? :update, Act::EventParticipant) && ! event_participant.event.open_for_everyone?) %>
      <div style="margin-top:1mm;"></div>
    <% end %>

    <% if can? :delete, Act::EventParticipant %>
      <div class="col-sm-1", style="text-align:left">
      <%= form_tag act_event_delete_participant_path(event_participant.event_id, event_participant.scout_id) do %>
        <%= submit_tag  'Smazat', :class=>'btn btn-danger' %>
      <% end %>
      </div>
    <% end %>
    <% if (can? :update, Act::EventParticipant) && ! event_participant.event.open_for_everyone? %>
      <div class="col-sm-2", style="text-align:right">
        <%= render :partial => "form_choose_participant", locals: { event: event_participant.event, scout: event_participant.scout,  chosen: "participant", text: "Účastník" } %>
      </div>
      <div class="col-sm-2", style="text-align:left">
        <%= render :partial => "form_choose_participant", locals: { event: event_participant.event, scout: event_participant.scout, chosen: "substitute", text: "Náhradník" } %>
      </div>
    <% end %>

  <% else %>
    - 
    <%= event_participant.show_status %>
    <% if event_participant.note != "" %>
      (<%= event_participant.note %>)
    <% end %>

    <% if current_user.org? or event_participant.scout.is_me?(current_user) %>
      <% if event_participant.event.spec_place %>
        ;Nástup: <%= event_participant.place %>; 
      <% end %>

      <% if event_participant.event.spec_scout %>
        Specifika dítěte: <%= event_participant.scout_info %>; 
      <% end %>

      <% if event_participant.event.spec_mass %>
        <% if event_participant.mass %>
          Mši chce; 
        <% else %>
          Mši nechce; 
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  </b>
</p>

