
<% body =  ( @diff_lines.find_all{ |line| line[:line_origin] == :addition  }.map{|line| line[:content]}.join("\n") ) %>
<div class="pull-right">
  <% ['pikomat-l', 'tabor'].each do  |email|  %>
    <%= button_tag "Send to #{email}", :class=>'btn btn-success', :href => "mailto:#{email}@pikomat.mff.cuni.cz?subject=Novinky&body=#{body}" %>
  <% end %>
  <%= button_tag 'Historie', :class=>'btn btn-primary', :href => url_for(path: @path, :history => '.'), ico: 'fa-university' %>
</div>

<h1>Diff</h1>
<pre>
<% @diff_lines.each do |line| %><%
   o = line[:line_origin]
   if o == :addition || o == :deletion
    %><span class="diff-<%=o%>"><%= line[:content].rstrip%></span>
<%
   elsif o == :file_header  && line[:content] =~ /^diff --git a\/(\S*)/
    path = $1
    %><%= link_to url_for(wiki: @wiki, path: path) do  %><%= path%> <span class="fa fa-file-o"></span><% end %> <%= link_to  url_for(wiki:@wiki, path: path, edit: 'me') do %><span class="fa fa-edit"></span><% end %>:
<%
   elsif o == :context
    %><%= line[:content] -%><%
   elsif o == :hunk_header
    %>---
<%
   end
end %>
</pre>


