<script type="text/x-mathjax-config"> MathJax.Hub.Config({ extensions: ["jsMath2jax.js"] });</script>
<script type="text/javascript" src="<%= ENV["RAILS_RELATIVE_URL_ROOT"] %>/MathJax-2.7.3/MathJax.js?config=TeX-AMS-MML_HTMLorMML"> </script>
<%#= stylesheet_link_tag 'jstoolbar.css'  %>
<%#= stylesheet_link_tag 'trac.css'  %>
<%#= javascript_include_tag 'jstoolbar/jstoolbar.js' %>
<%#= javascript_include_tag 'jstoolbar/trac.js' %>
<%#= javascript_include_tag 'jstoolbar/lang/jstoolbar-en.js' %>

<%= form_tag({:path =>  @path}, {id: 'edit-form'})  do %>
  <%= hidden_field_tag 'version', @version %>
  <%= hidden_field_tag 'edit', '' %>
  <%= hidden_field_tag 'cursor', @cursor %>
  <% if @part %>
    <%= hidden_field_tag 'part', @part %>
    <%= hidden_field_tag 'pos', @pos %>
  <% end %>
  <%# <h1>Editace souboru '<%= @path % >'</h1> %>
  <div class="btn-toolbar">
    <div class="btn-group">
     <a class="btn btn-xs btn-white btn-info" data-edit="bold" title="Bold (Ctrl+B)"> <i class=" ace-icon fa fa-bold"></i> </a>
     <a class="btn btn-xs btn-white btn-info" data-edit="italic" title="Italic (Ctrl+I)"> <i class=" ace-icon fa fa-italic"></i> </a>
     <a class="btn btn-xs btn-white btn-info" data-edit="strike" title="Strikethrough"> <i class=" ace-icon fa fa-strikethrough"></i> </a>
     <a class="btn btn-xs btn-white btn-info" data-edit="code" title="Code"> <i class="ace-icon fa fa-keyboard-o"></i> </a>
     <a class="btn btn-xs btn-white btn-info" data-edit="comment" title="Comment out"> <i class=" ace-icon fa fa-slack"></i> </a>
    </div>
    <div class="btn-group">
       <a class="btn btn-xs btn-white btn-info" data-edit="table" title="TablE Ctrl+E"> <i class="ace-icon fa fa-table"></i> </a>
    </div>
    <div class="btn-group">
     <a class="btn btn-xs btn-white btn-info" data-edit="sub" title="subscript"> <i class=" ace-icon fa fa-subscript"></i> </a>
     <a class="btn btn-xs btn-white btn-info" data-edit="sup" title="superscript"> <i class=" ace-icon fa fa-superscript"></i> </a>
    </div>
    <div class="btn-group">
     <a class="btn btn-xs btn-white btn-info" data-edit="ol" title="Ordered list"> <i class=" ace-icon fa fa-list-ol"></i> </a>
     <a class="btn btn-xs btn-white btn-info" data-edit="ul" title="List"> <i class=" ace-icon fa fa-list-ul"></i> </a>
    </div>
    <div class="btn-group">
     <a class="btn btn-xs btn-white btn-info" data-edit="h1" title="Header 1">h1</a>
     <a class="btn btn-xs btn-white btn-info" data-edit="h2" title="Header 2">h2</a>
     <a class="btn btn-xs btn-white btn-info" data-edit="h3" title="Header 3">h3</a>
    </div>
    <div class="btn-group">
     <a class="btn btn-xs btn-white btn-info" data-edit="math" title="Inline math"> <i class=" ace-icon fa fa-dollar"></i> </a>
     <a class="btn btn-xs btn-white btn-info" data-edit="dmath" title="Display math"> <i class=" ace-icon fa fa-dollar"></i><i class=" ace-icon fa fa-dollar"></i> </a>
    </div>
    <div class="btn-group">
     <a class="btn btn-xs btn-white btn-info" data-edit="link" title="Link"> <i class=" ace-icon fa fa-chain"></i></a>
     <a class="btn btn-xs btn-white btn-info" data-edit="image" title="Image"> <i class=" ace-icon fa fa-image"></i></a>
    </div>
    <div class="btn-group">
     <a class="btn btn-xs btn-white btn-info" data-edit="help" data-help-url="<%= wiki_piki_path('jakna/wiki', format: 'json') %>" title="help"> <i class=" ace-icon fa fa-life-ring"></i></a>
     <a class="btn btn-xs btn-white btn-info" data-edit="informhelp" data-help-url="<%= wiki_tepmac_path('inform', format: 'json') %>" title="help inform"> <i class=" ace-icon fa fa-paw"></i></a>
     <a class="btn btn-xs btn-white btn-info" data-edit="icons" data-icons-url="<%= wiki_piki_path( 'jakna/ikony', format: 'json') %>" title="ikony"> <i class=" ace-icon fa fa-star"></i></a>
    </div>
    <div class="btn-group">
     <a class="editorcancel btn btn-xs btn-white btn-info" href="<%= url_for path: @path %>" title="cancel (ctrl-escape)">  <i class="fa fa-ban"></i> </a>
     <a class="btn btn-xs btn-white btn-info" data-edit="save-stay" title="Save and stay (Shift-Enter)"> <i class=" ace-icon fa fa-floppy-o"></i></a>
     <a class="btn btn-xs btn-white btn-warning" data-edit="save" title="Save and show (Ctrl-Enter)"> <i class=" ace-icon fa fa-floppy-o"></i></a>
     <a class="btn btn-xs btn-white btn-info" data-edit="preview" title="Preview (Alt-Enter)"> <i class=" ace-icon fa fa-eye"></i></a>
    </div>

    <div class="btn-group pull-right">
        <a class="btn btn-xs btn-white" href="<%= url_for(path: @path, edit: @part, ckeditor: 1 )%>">cke</a>
    </div>
    <% if ! @used_templates.nil? %>
      <div class="btn-group pull-right">
        <button data-toggle="dropdown" class="btn btn-xs btn-info dropdown-toggle">Templates<span class="ace-icon fa fa-caret-down icon-on-right"></span></button>
        <ul class="dropdown-menu dropdown-warning">
          <% @used_templates.sort.each do |template,defined| %>
            <% next if template =~ /^\// %>
            <% path =  template %>
            <li><%= link_to template, wiki_tepmac_url(path) %> </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div data-toggle="buttons" class="btn-group btn-overlap btn-corner pull-right">
      <% ace_mobil =cookies['ace.mobil'.to_sym]=='on' %>
      <label class="btn btn-sm btn-white btn-info <%= active(ace_mobil) %>">
        <input id='mobil' type="checkbox" data-edit='mobil' name="mobil" class="ace" <%=checked(ace_mobil)%>/>
        <i class=" ace-icon fa fa-mobile-phone" title="mobile mode"></i> mobil
      </label>

      <% ace_wide =cookies['ace.wide'.to_sym]=='on' %>
      <label class="btn btn-sm btn-white btn-info <%=active(ace_wide)%>">
        <input id='widenowide' type="checkbox" data-edit='wide' name="widenowide" class="ace" <%=checked(ace_wide)%>/>
        <i class=" ace-icon fa fa-arrows-h" title="wide-mode Shift-Ctrl-V"></i> wide
      </label>

      <% ace_wide =cookies['ace.prev'.to_sym]=='on' %>
      <label class="btn btn-sm btn-white btn-info title="auto preview Ctrl-Alt-Enter" <%=active(ace_wide)%>">
        <input id='prevmode' type="checkbox" data-edit='prev' name="pre" class="ace" <%=checked(ace_wide)%>/>
        <i class=" ace-icon fa fa-eye"></i>autopreview
      </label>

      <% ace_vi =cookies['ace.vi'.to_sym]=='on' %>
      <label class="btn btn-sm btn-white btn-info <%=active(ace_vi)%>">
        <input id='vinovi' type="checkbox" data-edit='vi' name="vinovi" class="ace" <%=checked(ace_vi)%>/>
        <i class=" ace-icon fa fa-vimeo-square" title="toggle vi-mode Ctrl-M"></i> :vi
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-12">
          <div class="cmdline hide-mobil" style="width:100%;height:1em;position:relative;"></div>
        </div>
      </div>
      <div class="row">
        <div id='editor-container' class="textarea-container col-xs-12">
          <%= text_area_tag :text, @text, style:'float:left;width:100%; width-max:100%', class: 'span9 aceeditor ctrl-enter-submit', id: 'textedit', cols: 200, rows: 30%>
          <pre class="hide-mobil" style='height:600px;width:100%' id='editor-pre'><%=@text%></pre> 
        </div>

        <div class="col-xs-6">
          <div style="float:left" id="preview-div"></div>
        </div>
      </div>
    </div>
  </div>
<% end #form %>

<%= link_to 'Experimental CKEditor 3', path: @path, ckeditor: 1, edit: @edit %>

<% content_for :action_buttons do %>
  <div class="pull-right">
    <%= button_tag  'Zpět',   :class=>'btn',            :ico => 'fa-reply', :href => url_for(path: @path)  %>
    <%= button_tag  'Uložit', :class=>'btn btn-danger', ico: 'fa-floppy-o', :type => 'button', 'data-submit-form'=>'#edit-form'   %>
  </div>
<% end %>
