<div class="pull-right">
  <%= button_tag 'Zobraz stránku', :class=>'btn btn-primary', :href => url_for(path: @path), ico: 'fa-file' %>
  <%= button_tag 'Seznam stránek', :class=>'btn btn-primary', :href => url_for(path: @path, :ls => '.'), ico: 'fa-list' %>
  <%= button_tag 'Celá historie', :class=>'btn btn-primary', :href => url_for(path: @path, :history => '.'), ico: 'fa-university' %>
</div>

<h1>Historie <%= @history_path == '.' ? '' : @history_path %> </h1>

<ul>
<% @history.each do |h| %>
  <li>
    <% author = h[:author] %>
    <% commit_oid = h[:commit] %>
    <% time =   author[:time] %>
    <%= time.strftime('%Y-%m-%d %H:%M:%S') %>
    <% title = case h[:files].size
                 when 0; 'nofile'
                 when 1;h[:files][0][:new_file]
                 else h[:files][0][:new_file] + " ... "
               end
               %>
    <% file_name = h[:files][0][:new_file] %>
    <% dbg = h.pretty_inspect %>
    <%= link_to  url_for(path: file_name, history: file_name) , {title:  'historie'} do %><span class="fa fa-university"></span><%end%>
    <%= link_to  url_for(path: file_name) , {title:  'view'} do %> <span class="fa fa-file-o"></span>  <% end %>
    <%= link_to  url_for(path: file_name, edit: 'me') , {:title =>  'edit'} do %> <span class="fa fa-edit"></span>  <% end %>
    <%= link_to url_for(path: file_name, diff: commit_oid) , {:title =>  'diff'} do %>
      <span class="fa fa-columns"></span> <%= title %>
    <% end %>
    <%= author[:name]  %>:
    <%= h[:message][0..80]  %>
    <%#= debug h %>
  </li>
<% end %>
</ul>


<%#= debug @history %>
