
<% require 'date' %>
<h1>Historie</h1>

<ul>
<% @history.each do |h| %>
  <li>
    <% author = h[:author] %>
    <% time =   author[:time] %>
    <%= time.strftime('%Y-%m-%d %H:%M:%S') %>
    <% title = h[:files].map{|f| f[:new_file]}.join || 'nofile'%>
    <% title = 'nofile' if title.nil? || title.empty?%>
    <% dbg = h.pretty_inspect %>
    <%= link_to  url_for(path: @path) , {:title =>  dbg} do %> <span class="fa fa-file-o"></span>  <% end %>
    <%= link_to  url_for(path: @path, edit: 'me') , {:title =>  dbg} do %> <span class="fa fa-edit"></span>  <% end %>
    <%= link_to title, url_for(path: @path, :diff => h[:commit]) , {:title =>  dbg} %>
    <%= author[:name]  %>
    (<%= author[:email]  %>):
    <%= h[:message]  %>
    <%#= debug h %>
  </li>
<% end %>
</ul>


<%#= debug @history %>
