<h1>Seznam souborů <%= @path %></h1>
<ul>
<% @files.each do |file| %>
  <li><%= link_to file[:name], path: file[:path] %>
      <%= link_to '[Edit]', {path: file[:path], edit: :me} %>
   </li>
<% end %>
<% @dirs.each do |dir| %>
  <li><%= link_to dir[:name] + '/', ls:'.', path: dir[:path] %>
   </li>
<% end %>
</ul>


<%= form_tag url_for(:action => :show, :wiki => @wiki) , method: :get do%>
  <button type='submit' class='btn btn-success'>Nový soubor</button>
  <%= text_field_tag :path, @path %>
<% end%>

<%= form_tag url_for(:action => :update, :wiki => @wiki), :multipart => true, :method =>  :post do%>

  <button type='submit' class='btn btn-success'>Nahrát soubor</button>
  <%= text_field_tag :filename, @path %>
  <%= file_field_tag :file %>
  <%= hidden_field_tag :path, @path %>
<% end%>








