<h1>Seznam souborů <%= @path %></h1>
<ul>
<% @files.each do |file| %>
  <li><%= link_to file[:name], path: file[:path] %>
      <%= link_to '[Edit]', {path: file[:path], edit: :me} %>
   </li>
<% end %>
<% @dirs.each do |dir| %>
  <li><%= link_to dir[:name] + '/', ls:'.', path: dir[:path] %>
   </li>
<% end %>
</ul>


<% form_tag :wiki , method: :get do%>
<button type='submit' class='btn btn-success'>Nový soubor</button>
<%= text_field_tag :path, @path %>

<% end%>




