<h1>Seznam souborů <%= @path_dir %></h1>
<ul class="list-unstyled">
<% @files.each do |file| %>
  <li><i class="fa <%= case file[:path]
                       when /\.(jpg|gif|png)$/ ; 'fa-file-picture-o blue' 
                       when /\.(wiki|txt)$/ ;    'fa-file-text-o green' 
                       when /\.(html)$/ ;        'fa-file-code-o red' 
                       when /\.(pdf)$/ ;         'fa-file-pdf-o red' 
                       else                      'fa-file-o'
                       end
                     %>"></i>
      <%= link_to file[:name], path: file[:path] %>
      <%= link_to '[Edit]', {path: file[:path], edit: :me} %>
   </li>
<% end %>
<% @dirs.each do |dir| %>
  <li><i class="fa fa-folder-o blue"></i> <%= link_to dir[:name] + '/', ls:'.', path: dir[:path] + '/index' %>
   </li>
<% end %>
</ul>


<%= form_tag url_for(:action => :show, :wiki => @wiki) , method: :get do%>
  <button type='submit' class='btn btn-success'>Nový soubor</button>
  <%= text_field_tag :path, @path_dir %>
<% end%>

path:<%= @path %>
<%= form_tag url_for(:action => :update, :path => @path, :wiki => @wiki), :multipart => true, :method =>  :post do%>

  <button type='submit' class='btn btn-success'>Nahrát soubor</button>
  <%= text_field_tag :filename, @path_dir %>
  <%= file_field_tag :file %>
  <%= hidden_field_tag :path, @path_dir %>
<% end%>








