<% if @edit %>

  <%= stylesheet_link_tag 'jstoolbar.css'  %>
  <%= stylesheet_link_tag 'trac.css'  %>
  <%= javascript_include_tag 'jstoolbar/jstoolbar.js' %>
  <%= javascript_include_tag 'jstoolbar/trac.js' %>
  <%= javascript_include_tag 'jstoolbar/lang/jstoolbar-en.js' %>

   <%= form_tag path: @path do %>
    <%= hidden_field_tag 'version', @version %>
    <% if @part %>
      <%= hidden_field_tag 'part', @part %>
      <%= hidden_field_tag 'sline', @sline %>
      <%= hidden_field_tag 'eline', @eline %>
    <% end %>
    <span class="pull-right">
      <a href="<%= url_for path: @path %>" class="btn">Zpět</a>&nbsp;
      <button type="submit" class="btn btn-success pull-right">Uložit</button>
    </span>
    <h1>Editace souboru '<%= @path %>'</h1>

    <%= text_area_tag :text, @text, class: 'span9 ctrl-enter-submit', id: 'textedit', rows: 25%>
    <script>
                  var toolbar = new jsToolBar(document.getElementById('textedit'));
                  toolbar.draw();
   </script>
  <% end #form %>

<% else %>
  <script type="text/x-mathjax-config"> MathJax.Hub.Config({ extensions: ["jsMath2jax.js"] });</script>
  <script type="text/javascript" src="/js/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"> </script>
  <%#
  <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  %>



  <% if @editable || @toc %>
    <div class="pull-right">
    <% if @editable %>
     <% @action_buttons ||= []
        @action_buttons.push({ :name => 'Seznam stránek', :url => url_for(path: @path, :ls => '.') })
        @action_buttons.push({ :name => 'Edit',           :url => url_for(path: @path, :edit => :me), :class => 'btn-danger' })
     %>
    <% end %>
    <% if @toc %>
      <div class='toc well sidebar-nav'>
      <%== @toc %>
      </div>
    <%end%>
    </div>
  <%end%>


  <%if @html %>
    <%== @html %>
  <%else%>
    <pre><%=@text%></pre>
  <%end%>
<%end%>
