<% if @edit %>

  <%= stylesheet_link_tag 'jstoolbar.css'  %>
  <%= stylesheet_link_tag 'trac.css'  %>
  <%= javascript_include_tag 'jstoolbar/jstoolbar.js' %>
  <%= javascript_include_tag 'jstoolbar/trac.js' %>
  <%= javascript_include_tag 'jstoolbar/lang/jstoolbar-en.js' %>

   <%= form_tag({:path =>  @path}, {id: 'edit-form'})  do %>
    <%= hidden_field_tag 'version', @version %>
    <% if @part %>
      <%= hidden_field_tag 'part', @part %>
      <%= hidden_field_tag 'sline', @sline %>
      <%= hidden_field_tag 'eline', @eline %>
    <% end %>
    <h1>Editace souboru '<%= @path %>'</h1>

    <%= text_area_tag :text, @text, class: 'span9 ctrl-enter-submit', id: 'textedit', cols: 100, rows: 25%>
    <%= button_tag  'Zpět',   :class=>'btn',            :ico => 'fa-reply', :href => url_for(path: @path)  %>
    <%= button_tag  'Uložit', :class=>'btn btn-danger', ico: 'fa-floppy-o'  %>
    <script>
                  var toolbar = new jsToolBar(document.getElementById('textedit'));
                  toolbar.draw();
   </script>
  <% end #form %>
  <% if @used_templates %>
    Templates:
    <ul>
    <% @used_templates.sort.each do |template,defined| %>
      <% next if template =~ /^\// %>
      <% path = ".template/" + template %>

      <li><%= link_to template, path: path %>
          <%= link_to "[edit]", path: path , edit: 'me'%> : <%= defined %>,</li>
    <% end %>
    </ul>
  <% end %>

<% else %>
  <script type="text/x-mathjax-config"> MathJax.Hub.Config({ extensions: ["jsMath2jax.js"] });</script>
  <script type="text/javascript" src="/js/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"> </script>
  <%#
  <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  %>



  <% if @editable || @toc %>
    <div class="pull-right">
    <% if @toc %>
      <div class='toc well sidebar-nav'>
      <%== @toc %>
      </div>
    <%end%>
    </div>
  <%end%>


  <%if @html %>
    <%== @html %>
  <%else%>
    <pre><%=@text%></pre>
  <%end%>
<%end%>



<% if ! @edit && @editable %>
  <% content_for :action_buttons do %>
    <div class="pull-right">
      <%= button_tag 'Seznam stránek', :class=>'btn btn-primary', :href => url_for(path: @path, :ls => '.'), ico: 'fa-list' %>
      <%= button_tag 'Edit', :accesskey => 'e', :class=>'btn btn-danger', :href => url_for(path: @path, :edit => 'me'), ico: 'fa-edit' %>
    </div>
  <% end %>
<% end %>

<% if @edit %>
  <% content_for :action_buttons do %>
    <div class="pull-right">
      <%= button_tag  'Zpět',   :class=>'btn',            :ico => 'fa-reply', :href => url_for(path: @path)  %>
      <%= button_tag  'Uložit', :class=>'btn btn-danger', ico: 'fa-floppy-o', :type => 'button', 'data-submit-form'=>'#edit-form'   %>
    </div>
  <% end %>
<% end %>
