<% style = params[:style] %>

<h1>Inform <%= @form %> </h1>

[<%= link_to 'tab', inform_index_path(@form, style: 'tab')  %>, 
 <%= link_to 'list',  inform_index_path(@form, style: 'list') %>,
 <%= link_to 'list2',  inform_index_path(@form, style: 'list2') -%>
<% if !@form.nil? and current_user.admin? %>,
   <%= link_to 'del',  inform_index_path(@form, style: 'del') %>
<% end %>
 ]

<% count = 0 %>

<%#########################################%>
<% if style.nil? || style == 'tab'  %>

  <div class="table-div">
    <table class='table'>
      <tr>
        <th>#</th>
        <th>ua</th>
        <% @keys.each do |k| %>
          <th><%= k.titleize %></th>
        <% end%> 
      </tr>
      <% @informs.each do  |inform| %>
        <% jdata = inform.jdata %>
        <tr>
          <td title="<%= inform.created_at%>" ><%= count += 1 %></td>
          <td><span title="<%= inform.user_agent %>">*</span></td>
          <% @keys.each do |k| %>
            <td><%= jdata[k] || '-' %></td>
          <% end%> 
          <%#<td> %>
            <%#= form_tag inform_del_url(inform.id)   do  %>
            <%#  <input type=submit value="del"> %>
            <%# end%>
          <%#</td> %>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>

<%#########################################%>
<% if style == 'list' %>
  <% name = @keys.grep(/^Jm[ée]no/i).first %>
  <% prijm = @keys.grep(/^Příjmení/i).first %>
  <div>
    <% @informs.each do  |inform| %>
      <% jdata = inform.jdata %>
        <h3><%= count += 1 %>. <%= jdata[name]  %> <%= jdata[prijm] %> (<%= inform.created_at%>)
        <span title="<%= inform.user_agent %>">*</span>
        </h3>
        <span>
          <%= form_tag inform_del_url(inform.id)   do  %>
            <input type=submit value="del">
          <% end%>
        </span>
      </tr>
      <% @keys.each do |k| %>
          <dl>
            <dt><%= k.titleize %></dt>
            <dd><%= jdata[k] || 'undef' %></dd>
          </dl>
        <% end%> 
      </tr>
    <% end %>
  </div>
  <hr/>
<% end %>

<%#########################################%>
<% if style == 'list2' %>
  <% name = @keys.grep(/^Jm[ée]no/i).first %>
  <% prijm = @keys.grep(/^Př[ií]jmení/i).first %>
  <% @keys.each do |k| %>
    <% next if k == name || k == prijm %>
    <h3><%= k.titleize %></h3>
    <% count = 0 %>
    <div class="table-div">
      <table>
        <% @informs.each do  |inform| %>
          <% jdata = inform.jdata %>
          <tr>
            <td><%= count += 1 %></td>
            <td><%= jdata[name] || 'undef' %></td>
            <td><%= jdata[prijm] || 'undef' %></td>
            <td><%= jdata[k] || '.' %></td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
<% end %>
<%#########################################%>
<% if style == 'del' %>
  <hr/>
  <%= form_tag inform_delform_url(@form)   do  %>
    <input type="checkbox" name="sure"> sure
    <input type="submit" value="delete <%=@form%> infrom">
  <% end%>
  <hr/>
<% end %>


<ul>
<% @forms.each do |form| %>
  <li><%=link_to form[:form]||'-', inform_index_path(form[:form]) %></li>
<% end %>
</ul>
