

<%#### seznam  ročníků -%>
<% if @annuals %>
 <h1>Řešení úloh po ročnících</h1>
   <% @annuals.each do |annual_no, annual| %>
    <ul class="breadcrumb">
      <li><%= link_to "Ročník #{annual_no}",  { roc: annual_no }  %><span class="divider">&gt;</span></li>
        <% annual.each do |round| %>
          <li><%= link_to round[:name],  round[:url]  %>
               <span class="divider">,</span></li>
        <% end %>
      </li>
    </ul>
   <% end %>
<% else %>

<%#### tabulka řešení -%>

<h1>Řešení úloh, ročník <%=@annual%>, série <%=@round%><%if @problem_no%>, úloha <%=@problem_no%><%end%></h1>

<% if @want_edit %>
<%= form_tag action: :update_scores, :roc => @annual, :se => @round, :ul => @problem_no %> 
<% end %>



<table class="table table-bordered">
  <tr>
   <th>Id</th>
   <th>Řešitel</th>
   <th>Škola</th>
  <% @problem_numbers.each do |no| %>
   <th>u<%=no%></th>
  <% end %>
  <% @problem_numbers.each do |no| %>
   <th title="Body za úlohu č. <%=no%>">B<%=no%></th>
  <% end %>
 </tr>
<% @solvers.each do |solver| %>
  <tr>
    <td><%= link_to solver.id, { controller: :solver, action: :show, id: solver.id }  %></td>
    <td><%= solver.last_name %> <%= solver.name %> </td>
    <td><%= solver.school.nil? ? '-' : solver.school.short %></td>
    <% @problem_numbers.each do |no| %>
       <td>
         <% sol_arr = @solutions_by_solver[solver.id]  %>
         <% sol  =  sol_arr.nil?  ? nil : sol_arr[no]  %>
         <% if !sol.nil? && sol.filename %>
           <%= link_to no, {:action => :download, :id => sol.id}, {:title => sol.filename_orig} %>
           <% if sol.filename_corr %>
             <%= link_to 'o', {:action => :download_rev, :id => sol.id}, {:title => sol.filename_corr_display} %></td>
           <% end %>
         <% else %>
          -
         <% end %>
       </td>
    <% end %>
    <%  @problem_numbers.each do |no| %>
       <td>
         <% sol_arr = @solutions_by_solver[solver.id]  %>
         <% sol  =  sol_arr.nil?  ? nil : sol_arr[no]  %>
         <% if !sol.nil? %>
           <% if @want_edit %>
                <input class="input-mini" type="text" name="score[<%= sol.id %>]" size="3" value="<%= sol.score || '-'%>"/>
           <% else %>
                <%= sol.score || '-'%>
           <% end %>
         <% else %>
          -
         <% end %>
       </td>
    <% end %>
  </tr>
<% end %>

</table>

<% if @want_edit %>
<button type='submit' class='btn btn-success'>Uložit</button> 
</form>

<%= link_to 'Zpět', {action: :index, roc: @annual, se: @round, ul: @problem_no}, {:class => 'btn'} %>

<% else %>
  <%= link_to 'Stáhnout tato řešení v jednom .zip',
            { :action => :downall, roc: @annual, se: @round, ul: @problem_no },
            { :class=> 'btn btn-primary'} %>

  <%= link_to 'Stáhnout tabulku řešitelů ve formátu CSV',
            { format: 'csv'},
            { :class=> 'btn btn-primary'} %>

  <hr>
  <% if  @problem_no %>
    <%= form_tag({:action => :upload_rev} , :multipart => true ) do %>
          <%= hidden_field_tag :roc, @annual %>
          <%= hidden_field_tag :se,  @round %>
          <%= hidden_field_tag :ul,  @problem_no %>
          <%= file_field_tag :file_rev, :class => 'input-small', :accept => '*.pdf|*.zip'  %>
          <%= submit_tag 'Nahraj opravené řešení ', :class => 'btn'  %>
    <% end %>
    <hr>
  <% end %>
<% end %>


<% end # annuals %>
