
<% content_for :heading_tools do %>
  <div class="btn-toolbox ">
    <% if ! ( @want_edit || @want_edit_paper || @want_edit_penalisation  ) %>
      <div class="btn-group ">
        <%= button_tag "řešení v .zip", :class=> 'btn btn-primary', ico: 'fa-file-o', href: sosna_solution_down_all_url(roc:@annual, se: @round, ul:@problem_no)  %>
        <%= button_tag "opravy v .zip", :class=> 'btn btn-primary', ico: 'fa-file', href: sosna_solution_down_all_url(roc:@annual,  se:@round, ul:@problem_no, rev: :yes)  %>
        <%= button_tag "řešitelé .csv", :class=> 'btn btn-primary', ico: 'fa-table', href: sosna_solutions_lidi_url(format: 'csv') %>
        <%= button_tag "body.pik", :class=> 'btn btn-primary', ico: 'fa-th', href: sosna_solutions_lidi_url(format: 'pik') %>
        <%= button_tag "navratky.zip", :class=> 'btn btn-primary', ico: 'fa-check', href: sosna_solutions_get_confirm_files_url %>
      </div>
      <div class="btn-group">
        <%= button_tag "vysl.wiki", :class=> 'btn btn-primary', ico: 'fa-filter', href: sosna_solutions_vysl_wiki_url(roc:@annual, round:@round) %>
        <%= button_tag "vysl.pik(notyet)", :class=> 'btn btn-primary', ico: 'fa-filter', href: sosna_solutions_vysl_pik_url(roc:@annual, round:@round) %>
      </div>
      <div class="btn-group">
        <%= button_tag "Filtruj soustredeni", :class=> 'btn btn-primary', ico: 'fa-filter', href: sosna_solutions_org_url(roc:@annual, round:@round, sous: 1) %>
      </div>
      <div class="btn-group">
        <%= form_tag({:action => :update_results, :roc => @annual, :se => @round, :ul => @problem_no}, :class => 'btn-group form-inline') do %>
                <button type="submit" class="btn btn-primary"> <i class="fa fa-flash"></i> Vygenerovat výsledky</button>
        <% end %>
      </div>
      
      <% if  @problem_no %>
        <div class="btn-group">
           <%= button_tag "Editovat body", :class=> 'btn btn-danger', ico: 'fa-th', href: url_for(action: 'edit', roc: @annual, se: @round, ul: @problem_no)  %>
           <%= button_tag "Editovat papíry", :class=> 'btn btn-danger', ico: 'fa-file-text', href: url_for(action: 'edit', roc: @annual, se: @round, ul: @problem_no, paper: 'yes')  %>
        </div>
        <hr>
        <%= form_tag({:action => :upload_rev} , :multipart => true , :class => 'form-inline') do %>
          <div class="clearfix" >
            <div class="grid2">
                <%= hidden_field_tag :roc, @annual %>
                <%= hidden_field_tag :se,  @round %>
                <%= hidden_field_tag :ul,  @problem_no %>
                  <div class="input-xlarge" >
                    <%= file_field_tag :file_rev, :style=>'display:block', :class => 'btn btn-small ace-input-file input-large', :accept => '*.pdf|*.zip'  %>
                  </div>
                <%= button_tag 'Nahraj opravené řešení (.pdf, .zip)', :ico => 'fa-cloud-upload',:class => 'btn btn-danger'  %>
            </div>
            <div style="line-height:1.5" class="grid2">
                <span class='help-block' style='display:block'>Soubor ve tvaru <code>reseni-rocNN-seNN-ulNN-relNNN-ori-PRIMENI-JMENO.pdf</code>
                   (tedy stejné jako neopravené řešení), nebo zip archiv s více opravenými řešeními
                   (né nutně všemi)</p>
            </div>
          </div>
        <% end # form %>
      <% else # problem_no %>
        <div class="btn-group">
          <%= button_tag "Editovat body", :class=> 'btn btn-danger', ico: 'fa-th', href: sosna_solutions_edit2_url(@annual, @round)  %>
          <%= button_tag "Editovat papíry", :class=> 'btn btn-danger', ico: 'fa-file-text', href: sosna_solutions_edit2_url(@annual, @round, paper: 'yes')  %>
          <%= button_tag "Editovat penalizaci", :class=> 'btn btn-danger', ico: 'fa-thumbs-down', href: sosna_solutions_edit2_url(@annual, @round, penalisation: 'yes' )  %>
        </div>
        <p>Pro nahrání opraveného řešení vyber úlohu:

          <% @problems.each do |pr| %>
            <%= link_to "ul#{pr.problem_no}", { action: :index, roc: @annual, se: @round, ul: pr.problem_no , anchor: 'upload' } %>,
         <% end %></p>
      <% end # problem_no %>
    <% end # want this%>
  </div> <%#btn-toolsbox%>
<% end # heading_tools %> 

<%#### seznam  ročníků -%>
<% if @annuals %>
  <div class='page-header'><h1>Řešení úloh po ročnících</h1></div>
   <% @annuals.each do |annual_no, annual| %>
    <ul class="breadcrumb">
      <li><%= link_to "Ročník #{annual_no}",  { roc: annual_no }  %><span class="divider">&gt;</span></li>
        <% annual.each do |round| %>
          <li><%= link_to round[:name],  round[:url]  %>
               <span class="divider">,</span></li>
        <% end %>
      </li>
    </ul>
   <% end %>
<% else %>

<%#### tabulka řešení -%>

<%#= heading_tools "Řešení úloh, ročník #{@annual}, série #{@round} #{if @problem_no; "úloha #{@problem_no}"; end}" do %>
<%= heading_with_tools "Řešení úloh, ročník #{@annual}, série #{@round}" do %>
  <%= content_for :heading_tools %>
<% end %>



  <% if @want_edit %>
    <%= form_tag action: :update_scores, :roc => @annual, :se => @round, :ul => @problem_no %> 
  <% elsif @want_edit_paper %>
    <%= form_tag action: :update_papers, :roc => @annual, :se => @round, :ul => @problem_no %> 
  <% elsif @want_edit_penalisation %>
    <%= form_tag action: :update_penalisations, :roc => @annual, :se => @round, :ul => @problem_no %> 
  <% end %>

  <% if @want_edit || @want_edit_paper || @want_edit_penalisation%>
    <%= button_tag  'Zpět', :class => 'btn', :ico => 'fa-reply', :href => url_for(action: :index, roc: @annual, se: @round, ul: @problem_no)  %>
    <%= button_tag  'Uložit', :class=>'btn btn-danger', ico: 'fa-floppy-o'  %>
    <div class="tep-fix-tools">
      <%= button_tag  'Zpět', :class => 'btn', :ico => 'fa-reply', :href => url_for(action: :index, roc: @annual, se: @round, ul: @problem_no)  %>
      <%= button_tag  'Uložit', :class=>'btn btn-danger', ico: 'fa-floppy-o'  %>
    </div>
  <% end %>


  <table class="table table-bordered datatable">
    <thead>
    <tr>
     <th>Id</th>
     <th>Řešitel</th>
     <th>Škola</th>
    <% @problems.each do |pr| %>
     <th>u<%=pr.problem_no%></th>
    <% end %>
    <% @problems.each do |pr| %>
     <th title="Body za úlohu č. <%=pr.problem_no%>">B<%=pr.problem_no%></th>
    <% end %>
    <th title="penalizace">Pen<% if @want_edit_penalisation%> / Důvod<%end%></th>
    <% if !@want_edit && !@want_edit_paper && ! @want_edit_penalisation %>
      <th title="Body za sérii">Bs</th>
      <th title="Body celkově">Bc</th>
      <th title="Celkové pořadí">cp</th>
      <th title="Pořadí v ročníku">pvr</th>
      <th title="Ročník">R</th>
    <% end %>
   </tr>
   </thead>
   <tbody>
  <% @solvers.each do |solver| %>
    <tr <%if solver.is_test_solver%> class="warning"<%end%>>
      <td>
         <%= solver.id  %>
         <%if solver.is_test_solver %> <i title="TESTOVACÍ ŘEŠITEL" class="fa fa-crosshairs"></i> <% end %></td>
      <td><%= link_to solver.full_name, { controller: :solver, action: :show, id: solver.id }  %></td>
      <td><%= solver.school.nil? ? '-' : solver.school.short %></td>
      <% @problems.each do |pr| %>
         <% sol_arr = @solutions_by_solver[solver.id]  %>
         <% sol  =  sol_arr.nil?  ? nil : sol_arr[pr.problem_no]  %>
         <% ready = (!sol.filename.nil? && !sol.filename_corr.nil? || sol.has_paper_mail ) && !sol.score.nil? %>
         <% weird = (sol.filename.nil? && !sol.has_paper_mail ) && !sol.score.nil? %>
         <% weird = weird || (!sol.filename.nil? || sol.has_paper_mail ) && sol.score.nil? %>
         <% weird = weird || ( !sol.filename.nil? && sol.filename_corr.nil?  && !sol.score.nil? ) %>
         <% cls = weird ? 'bg-red' : (ready ? 'bg-green' : nil) %>
         <td<%if cls%> class="<%=cls%>"<%end%>>
           <% if @want_edit_paper %>
              <input type="checkbox" name="paper[<%= sol.id %>]" size="3" <%if sol.has_paper_mail %> checked="checked" <% end %> />
           <% else %>
             <% if sol.filename %>
               <%= link_to pr.problem_no, {:action => :download, :id => sol.id}, {:title => sol.filename_orig} %>
               <% if sol.filename_corr %>
                 <%= link_to 'o', {:action => :download_rev, :id => sol.id}, {:title => sol.filename_corr_display} %>
               <% end %>
             <% end %>
             <% if sol.has_paper_mail %> P <% end %>
           <% end %>
         </td>
      <% end %>
      <%  @problems.each do |pr| %>
         <td>
           <% sol_arr = @solutions_by_solver[solver.id]  %>
           <% sol  =  sol_arr.nil?  ? nil : sol_arr[pr.problem_no]  %>
           <% if !sol.nil? %>
             <% if @want_edit %>
                  <input class="input-mini input-minimini" type="text" name="score[<%= sol.id %>]" size="3" value="<%= sol.score || '-'%>"/>
             <% else %>
                  <%= sol.score || '-'%>
             <% end %>
           <% else %>
            -
           <% end %>
         </td>
      <% end %>
      <td>
        <% pen = @penalisations_by_solver[solver.id] %>
        <% pen_sc = pen.score || '-' %>
        <% pen_tit = pen.title || '' %>
        <% if @want_edit_penalisation %>
          <input class="input-mini input-minimini" type="text" name="penalisation_score[<%= pen.id %>]" size="3" value="<%= pen_sc %>"/>
          <input class="input-medium" type="text" name="penalisation_title[<%= pen.id %>]" value="<%= pen_tit %>"/>
        <% else %>
          <span title="<%=pen_tit == '' ? 'žádný důvod' : pen_tit %>"><%= pen_sc  %></span>
        <% end %>
      </td>
        <% if !@want_edit  && !@want_edit_paper && ! @want_edit_penalisation %>
          <% res = @results_by_solver[solver.id] %>
          <% cls = @want_sous.nil?  ?  nil  : ( res.class_rank <= 5 ? 'bg-green' : 'bg-red' ) %>
          <% if res %>
             <td><%= res.round_score %></td>
             <td<%if cls%> class="<%=cls%>"<%end%>>
               <%= res.score %></td>
             <td<%if cls%> class="<%=cls%>"<%end%>>
               <%= res.rank %><% if res.rank_multi? %> - <%= res.rank_to %><% end %></td>
             <td<%if cls%> class="<%=cls%>"<%end%>>
               <%= res.class_rank %><% if res.class_rank_multi? %> - <%= res.class_rank_to %><% end %></td>
          <% else %>
             <td>-</td>
             <td>-</td>
             <td>-</td>
             <td>-</td>
          <% end %>
          <td><%= solver.grade_num %></td>
        <% end %>
    </tr>
  <% end %>
   <tbody>
  </table>

  <div>
    <i>Legenda</i>:
    <b>P</b> -- řešení přislo papírově;
    <b>1-9</b> řešení přišlo elektronicky, link na stažení;
    <b>o</b> opravené řešení;
    <span class='bg-green box'>&nbsp;</span> -- došlé řešení je obodované a pokud je elektronické, tak i nahrána oprava;
    <span class='bg-red box'>&nbsp;</span> -- obodováná nedošlá úloha, nebo neobodována došlá úloha, nebo chybí el. oprava.
    <i title="Testovací řešitel" class="fa fa-crosshairs"></i> -- Testovací řešitel, nebude ve výsledkovách (snad)</td>
  </div>


<% end # annuals %>

