<table class="table table-condensed table-hover table-bordered datatable">
  <thead>
  <tr>
   <th>Id</th>
   <th>Řešitel</th>
   <th>Škola</th>
  <% @rounds.each do |round| %>
   <th title="Body za séríi <%=round %>">S<%=round%></th>
  <% end %>
  <th title="penalizace">Pen<% if @want_edit_penalisation%> / Důvod<%end%></th>

  <th title="Body za sérii">Bs</th>
  <th title="Body celkově">Bc</th>
  <th title="Celkové pořadí">cp</th>
  <th title="Pořadí v ročníku">pvr</th>
  <th title="Ročník">R</th>
 </tr>
 </thead>
 <tbody>
<% @solvers.each do |solver| %>
  <% sol_arr = @solutions_by_solver[solver.id]  %>
  <% solver_has_papper_sol =  sol_arr.any? { |s| !s.nil? && s.has_paper_mail }  %>
  <% tep_vs_paper_confict = solver_has_papper_sol && solver.solution_form == 'tep' %>
  <tr <%if solver.is_test_solver%>class="warning"<%end%>>
    <td <%if tep_vs_paper_confict%>class="bg-red"<%end%>>
       <%= solver.id  %>
       <%if solver.is_test_solver %> <i title="TESTOVACÍ ŘEŠITEL" class="fa fa-crosshairs"></i> <% end %>
       <%if  tep_vs_paper_confict%>
          <%=link_to sosna_solver_labels_url(:ids=>solver.id) do %>
             <i title="tep vs. paper conflict" class="fa bg-red fa-envelope-o"></i>
          <% end # link %>
       <% end # if tep vs papper %>
    </td>
    <td><%= link_to solver.full_name, { controller: :solver, action: :show, id: solver.id }  %></td>
    <td><% if !solver.school.nil? %> 
           <% sch = solver.school %>
           <span title="<%= sch.long %>"><%= link_to sch.short||'?', :controller =>  'sosna/school', :action => :show, :id => sch.id %></span>
        <% else %>
            -
        <% end %>
    </td>
    <% @rounds.each do |round| %>
       <% result = @results_by_solver_round[solver.id][round] %>
       <td><%= result.nil? ? '-' : result.round_score %></td>
    <% end %>
    <td>
      <% pen = @penalisations_by_solver[solver.id] %>
      <% pen_sc = pen.score || '-' %>
      <% pen_tit = pen.title || '' %>
      <% if @want_edit_penalisation %>
        <input class="input-mini input-minimini" type="text" name="penalisation_score[<%= pen.id %>]" size="3" value="<%= pen_sc %>"/>
        <input class="input-medium" type="text" name="penalisation_title[<%= pen.id %>]" value="<%= pen_tit %>"/>
      <% else %>
        <span title="<%=pen_tit == '' ? 'žádný důvod' : pen_tit %>"><%= pen_sc  %></span>
      <% end %>
    </td>
      <% if !@want_edit  && !@want_edit_paper && ! @want_edit_penalisation %>
        <% res = @results_by_solver[solver.id] %>
        <% cls = @want_sous.nil?  ?  nil  : ( res.class_rank <= 5 ? 'bg-green' : 'bg-red' ) %>
        <% if res %>
           <td><%= res.round_score %></td>
           <td<%if cls%> class="<%=cls%>"<%end%>>
             <%= res.score %></td>
           <td<%if cls%> class="<%=cls%>"<%end%>>
             <%= res.rank %><% if res.rank_multi? %> - <%= res.rank_to %><% end %></td>
           <td<%if cls%> class="<%=cls%>"<%end%>>
             <%= res.class_rank %><% if res.class_rank_multi? %> - <%= res.class_rank_to %><% end %></td>
        <% else %>
           <td>-</td>
           <td>-</td>
           <td>-</td>
           <td>-</td>
        <% end %>
        <td><%= solver.grade_num %></td>
      <% end %>
  </tr>
<% end %>
 <tbody>
</table>

<div>
  <i>Legenda</i>:
  <b>P</b> -- řešení přislo papírově;
  <b>1-9</b> řešení přišlo elektronicky, link na stažení;
  <b>o</b> opravené řešení;
  <span class='bg-green box'>&nbsp;</span> -- došlé řešení je obodované a pokud je elektronické, tak i nahrána oprava;
  <span class='bg-red box'>&nbsp;</span> -- obodováná nedošlá úloha, nebo neobodována došlá úloha, nebo chybí el. oprava.
  <i title="Testovací řešitel" class="fa fa-crosshairs"></i> -- Testovací řešitel, nebude ve výsledkovách (snad);
  <i title="tep vs. paper conflict" class="bg-red fa fa-envelope-o"></i> -- Uživatel chtěl odevzdávat tepem, ale v této sérii zaslal poštou;
</div>
