

<h1>Úlohy <%= @annual %>. ročníku, série <%= @round %>
<% if ! @solver_is_current_user %>,
   <%= @solver.full_name %> (roč.<%= @solver.annual%>)
<% end%>
</h1>

<% deadline = deadline_time @config, @round %>
<% is_current_annual = @config[:annual] == @annual %>
<% show_nahrat = is_current_annual && !deadline.nil? && deadline >=  Time.now %>
<% show_nahrat = true if current_user.admin? %>
<% max_size = Rails.configuration.sosna_user_solution_max_size %>

<table class="table table-bordered">
  <tr> 
   <th>Úloha</td>
   <th>Řešení</td>
   <% if show_nahrat  %>
     <th>Nahrát</td>
   <% end %>
   <th>Opravené řešení</td>
 </tr> 
<% @problems.each do |p| %>
  <% sol = @solutions_by_solver[@solver.id][p.problem_no]  %>
  <tr>
    <td><%= p.problem_no%> </td>
    <td>
      <% if sol.filename_orig  %>
        <i class="fa fa-check green"></i> <%= link_to sol.filename_orig, :action => :download, :id => sol.id %>
      <% elsif sol.has_paper_mail %>
        <i class="fa fa-check green"></i> <i>řešení došlo poštou</i>
      <% else %>
        <i class="fa fa-ban red"></i> <i>žádné řešení</i>
      <% end %>
    </td>
    <% if show_nahrat %>
       <td>  <%= form_for  sol, :html => {:class=> 'form-inline', :multipart => true}, :url => :sosna_solution_upload do |f|  %>
               <%= f.hidden_field :id %>
                   <div style="display:inline-block;width:200px;height:16px">
                     <%= f.file_field :solution_file , :class => 'ace-file-input', :accept => 'application/pdf', 'max-size' => max_size  %>
                   </div>
                   <%= f.submit :class => 'btn', :value => '<' %>
          <% end %>
       </td>
    <% end %>
    <td>
      <% sol_in_this_round_allowed   = @round <  @config[:round] %>
      <% sol_in_this_round_allowed ||= @round == @config[:round] && @config[:show_revisions] == 'yes'  %>
      <% if sol_in_this_round_allowed %> 
        <% if sol.filename_corr_display %>
          <%= link_to sol.filename_corr_display, :action => :download_rev, :id => sol.id %>
        <% elsif sol.has_paper_mail %>
          <i class="fa fa-envelope blue"></i> <i>opravené řešení bylo zasláno poštou</i>
        <% else %>
          <i class="fa fa-ban red"></i> <i>úlohu řešitel neřešil</i>
        <% end %>
      <% else %>
        <% if sol.filename_corr_display || sol.has_paper_mail %>
          <i class="fa fa-ban red"></i> <i>řešení není opravené</i>
        <% end %>
      <% end %>
      </td>

  </tr>
<% end %>
<% if @show_confirmation_upload %>
  <tr>
    <td>Návratka</td>
    <td>
      <% if @confirmation_exists %>
         <i class="fa fa-check green"></i> <%=link_to 'Návratka', sosna_solutions_get_confirm_file_path %> byla nahrána
      <% else %>
        <i class="fa fa-exclamation-triangle red"></i> <i>Nahraj návratku</i>
      <% end %>
      <sup><%= link_to wiki_main_url('navratka'), title: 'Co je to návratka?' do %> <i class="fa fa-question red"></i> <%end%></sup>
    </td>
    <% if show_nahrat %>
       <td>  <%= form_tag  sosna_solutions_upload_confirm_file_path, :class=> 'form-inline', :multipart => true  do |f|  %>
               <%= hidden_field_tag :roc, @annual %>
               <%= hidden_field_tag :se, @round %>
                   <div style="display:inline-block;width:200px;height:16px">
                     <%= file_field_tag :confirm_file , :class => 'ace-file-input', :accept => 'application/pdf', 'max-size' => max_size  %>
                   </div>
                   <%= submit_tag '<', :class=>'btn btn-default'%>
          <% end %>
       </td>
    <% end %>
    <td></td>
  </tr>
<% end %>
</table>

<ul>
  <% if is_current_annual && !deadline.nil?%>
    <% if deadline >= Time.now %>
       <li>Termín odeslání je <%= deadline.strftime('%-d. %-m. %Y') %> ve 24:00.</li>
    <% else %>
       <li>Termín odeslání byl <%= deadline.strftime('%-d. %-m. %Y') %> ve 24:00.</li>
    <% end %>
  <% end %>
  <%#  wft: nefunkcni: number_to_human_size ? %>
  <li> Nahrávej řešení menší než <%= max_size / (1024*1024) %>MB.</li>
  <li>Soubor musí být ve formátu PDF.</li>
  <li>Pokud omylem nahraješ řešení ke špatné úloze nebo v něm najdeš později chybu, můžeš úlohu nahrát znovu (nesmí však být již po termínu odevzdání).</li>
  <li> Špatně nahraný soubor můžeš smazat i tak, že nevybereš žádný soubor a klikneš na <button class="btn btn-mini">&lt;</button>.</li>
  <li>Doporučujeme ve vlastním zájmu nahrávat řešení s takovými názvy, aby bylo poznat, o jakou úlohu se jedná (např. <code>Uloha1.pdf</code>). Není to ale nutné.</li>
</ul>
</p>
