<h1>Účastníci akce 
  <%= @event.title %>
  <%= button_tag "Zpět", :href => event_path(@event), :class=>'btn', :ico =>'fa-reply' %>
</h1>

<%= form_tag(method: "post") do %>
  <%= fields_for :filter_hashes do |f| %>
    <% for attr in Scout::ATTR_TABLE do %>
      <%= f.check_box(attr[0], { :checked => @filter_hashes[attr[0].to_s] == "true" }, true, false ) %>
      <%= f.label(attr[0], attr[1]) %> 
    <% end %>
  <% end %>

  <%= submit_tag("Hledej") %>
<% end %>

<table>
  <tr>
    <b>
      <% for attr in Scout::ATTR_TABLE do %>
        <% if @filter_hashes.key?(attr[0].to_s) %>
          <td>
            <%= attr[1] %>
          </td>
        <% end %>
      <% end %>
    </b>
  </tr>
  <% @event_participants.each do |participant| %>
    <% if participant.status == "yes" %>
      <tr bgcolor = "#58d68d">
    <% elsif participant.status == "maybe" %>
      <tr bgcolor = "#f5b041">
    <% elsif participant.status == "no" %>
      <tr bgcolor = "#ec7063">
    <% else %>
      <tr>
    <% end %>

      <% for attr in Scout::ATTR_TABLE do %>
        <% if @filter_hashes.key?(attr[0].to_s) %>
          <td>
            <%= participant.scout.send(attr[0]) %>
          </td>
      <% end %>
    <% end %>
    </tr>
  <% end %>
</table>
