<h1>Editovat akci <%= button_tag "Zpět", :href => event_path(@event), :class=>'btn', :ico =>'fa-reply' %>
</h1>

<% unless current_user.nil? %>
  <%= render :partial => "form_edit", :locals => { :is_edit => true } %>
<% end %>

<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>


<% if can? :edit, Event %>
  <%= form_tag event_delete_path(id:@event.id) do %>
    <%= submit_tag  'Smazat akci (nebude žádné "jsi si jistý?")', :class=>'btn btn-danger' %>
  <% end %>
<% else %>
    <%= submit_tag  'Smazat akci může pouze admin', :class=>'btn btn-disabled' %></div>
<% end %>

