<h1>Přihlašování na pikomatí akce</h1>

<% unless Scout::scouts?(current_user) %>
  Abys ses mohl přihlásit na nějakou akci, musíš mít založený účastnický účet, a navíc ještě musíš být přihlášený/á. Účastnický účet si můžeš založit 
  <%= link_to "zde", new_scout_path %>.
<% end %>

<% if can? :new, Event %>
  <%= button_tag "Vytvořit novou akci", :href => new_event_path, :class => 'btn btn-primary', :ico => "fa-edit" %>
<% end %>

<%= render :partial => "form_filter" %>

<h2>Budoucí akce</h2>

<div class="table-div">
  <% @future_events.each do |event| %>
    <% if Event::event_visible?(event.visible, current_user)%>
      <b><%= event.title %> (<%= event.date_str() %>):</b> 
        <% if event.event_info_url != "" %>
          <a href="<%= event.event_info_url %>">info</a>, <%= link_to "přihlašování", event %>
      <% else %>
        <%= link_to "info a přihlašování", event %>
      <% end %>
      <br>
    <% end %>
  <% end %>
</div>

<h2>Již proběhlé akce</h2>

<div class="table-div">
  <% @past_events.each do |event| %>
    <% if Event::event_visible?(event.visible, current_user) %>
      <b><%= event.title %> (<%= event.date_str() %>):</b> <a href="<%= event.event_info_url %>">info</a>, <%= link_to "přihlašování", event %><br>
    <% end %>
  <% end %>
</div>

