<h1><%= @event.title %>
<% if (can? :edit, Event) && !@edit_participants %>
  <%= button_tag "Edituj akci", :href => edit_event_path(@event), :class=>'btn btn-danger', :ico => 'fa-edit' %>
<% end %>
<% if can? :edit_participants, Event %>
  <% if @edit_participants %>
    <%= button_tag "Zpět", :href => event_path(@event), :class=>'btn', :ico =>'fa-reply' %>
  <% else %>
    <%= button_tag "Edituj účastníky", :href => edit_participants_event_path(@event), :class=>'btn btn-danger', :ico => 'fa-edit' %>
  <% end %>
<% end %>
</h1>

<p><%= @event.body %><p>

<% if @event.event_info_url != "" %>
  <p>Více info najdeš <a href="<%= @event.event_info_url %>">tady</a>.</p>
<% end %>

<%= link_to "Ukaž výběr všech akcí!", events_path %>

<% if current_user.nil? %>
  Pro přihlášení na akci se musíš přihlásit do svého uživatelského účtu.
<% elsif ! @edit_participants and ! @already_happened %>
  <%= render :partial => "form_enroll" %>
<% end %>

<h2>Přihlášení účastníci</h2>
<% if current_user %>
  <%= render @event.event_participants %>
<% else %>
  Pro zobrazení účastníků je potřeba se přihlásit.
<% end %>
