<h1><%= @event.title %>
<% if (can? :edit, Event) && !@edit_participants %>
  <%= button_tag "Edituj akci", :href => edit_event_path(@event), :class=>'btn btn-danger', :ico => 'fa-edit' %>
<% end %>
<% if can? :edit_participants, Event %>
  <% if @edit_participants %>
    <%= button_tag "Zpět", :href => event_path(@event), :class=>'btn', :ico =>'fa-reply' %>
  <% else %>
    <%= button_tag "Edituj účastníky", :href => edit_event_participants_path(@event), :class=>'btn btn-danger', :ico => 'fa-edit' %>
  <% end %>
<% end %>
<% if (can? :edit, EventInvitation) && !@edit_participants && (@event.enable_only_specific_participants || @event.enable_only_specific_substitutes || @event.enable_only_specific_organisers) %>
  <%= button_tag "Edituj pozvané", :href => edit_event_invitations_path(@event), :class=>'btn btn-danger', :ico => 'fa-edit' %>
<% end %>
</h1>

<p><%= @event.body %><p>

<% if @event.limit_num_participants %>
  Na tuto akci může jet maximálně <b><%= @event.max_participants %></b> účastníků. Aktuálně je <%= @num_p_yes %> přihlášených.
<% end %>

<% if @event.event_info_url != "" %>
  <p>Více info najdeš <a href="<%= @event.event_info_url %>">tady</a>.</p>
<% end %>

<%= link_to "Ukaž výběr všech akcí!", events_path %>

<% if !@already_happened %>
  <% if !@edit_participants and Scout::scouts?(current_user) %>
    <% if @event.can_participate?(current_user.scout) %>
      <%= render :partial => "form_enroll", :locals => { :chosen => "participant" } %>
    <% elsif @event.can_substitute?(current_user.scout) %>
      <%= render :partial => "form_enroll", :locals => { :chosen => "substitute" } %>
    <% else %>
      Bohužel jsi nebyl vybrán ani mezi účastníky, ani mezi náhradníky. Tedy se na tuto akci nemůžeš přihlásit. Pokud si myslíš, že se jedná o chybu, neváhej nám napsat :-).
    <% end %>
  <% elsif !@edit_participants %>
    <p>
      Abys ses mohl přihlásit na nějakou akci, musíš mít založený účastnický účet, a navíc ještě musíš být přihlášený/á. Účastnický účet si můžeš založit
      <%= link_to "zde", new_scout_path %>.
    </p>
  <% end %>
<% end %>

<h2>Přihlášení účastníci</h2>
<% if can? :show_other, Scout %>
  <p>
    <%= button_tag "Zobraz hromadné informace", :href => event_display_scouts_path(@event), :class => 'btn btn-primary' %>
  </p>
<% end %>
<% if current_user %>
  <%= render @event.event_participants %>
<% else %>
  Pro zobrazení účastníků je potřeba se přihlásit.
<% end %>
