
<h3>Sosna config</h3>

<%= form_for :config, :url => {:action => :update}, :html =>  {:class => 'form-horizontal'}  do |f| %>

  <div class="control-group"><label class="control-label">Ročník</label>
    <div class="controls"><%= text_field :config, :annual, value: @config[:annual] %></div>
  </div>

  <div class="control-group"><label class="control-label">Série</label>
    <div class="controls"><%= text_field :config, :round,  value: @config[:round] %></div>
  </div>

  <div class="control-group"><label class="control-label">Zobrazit opravené řešení</label>
    <div class="controls"><%= select_tag 'config[show_revisions]', options_for_select(["yes","no"], @config[:show_revisions]) %></div>
  </div>

  <% (1..6).each do |round| %>
    <div class="control-group"><label class="control-label">Termín odeslani <%=round%>. série</label>
      <div class="controls"><%= select_date(deadline_time(@config, round) || Time.parse('2010-06-06'),
                                            { :use_month_numbers => true, :prefix => "config[deadline#{round}]", :order => [:day, :month, :year]},
                                            { :class => 'input-small' } ) %>
        Povolit upload:
        <%= select_tag("config[show#{round}]",
                       options_for_select(["no","yes"], @config["show#{round}".to_sym]),
                       {:class=>'input-mini'} ) %>
        <%= deadline_time(@config, round).to_s %>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <div class="controls"><%= f.submit :class=>'btn btn-primary', :value=>'Uložit' %></div>
  </div>
<% end %>

