
<table class="table table-bordered">
  <tr>
   <th>Id</th>
   <th>Ročník</th>
   <th>Serie</th>
   <th>Úloha</th>
 </tr>
<% @problems.each do |p| %>
  <tr>
    <td><%= link_to p.id, :controller => :sosna_problem, :action => :show, :id => p.id %></a></td>
    <td><%= p.annual %></td>
    <td><%= p.round %></td>
    <td><%= p.problem_no%> </td>
  </tr>
<% end %>
</table>

<%= link_to 'Nová úloha', :sosna_problem %>
