
<table class="table table-bordered">
  <tr> 
   <th>id<td>
   <th>year<td>
   <th>round<td>
   <th>problem_no<td>
 </tr> 
<% @problems.each do |p| %>
  <tr>
    <td><%= link_to p.id, :controller => :sosna_problem, :action => :show, :id => p.id %></a><td>
    <td><%= p.year %><td>
    <td><%= p.round %><td>
    <td><%= p.problem_no%> <td>
  </tr>
<% end %>
</table>

<%= link_to 'New Problem', :sosna_problem %>
