

<%#### seznam  ročníků -%>
<% if @annuals %>
 <h1>Řešení úloh po ročnících</h1>
   <% @annuals.each do |annual| %>
    <ul class="breadcrumb">
      <li><%= link_to "Ročník #{annual.annual}",  { roc: annual.annual }  %><span class="divider">&gt;</span></li>
        <% annual.rounds.each do |round| %>
          <li><%= link_to round[:name],  round[:url]  %>
               <span class="divider">,</span></li>
        <% end %>
      </li>
    </ul>
   <% end %>
<% else %>

<%#### tabulka řešení -%>

<h1>Řešení úloh, ročník <%=@annual%>, série <%=@round%><%if @problem_no%>, úloha <%=@problem_no%><%end%></h1>

<% if @want_edit %>
<%= form_tag action: :update_scores, :roc => @annual, :se => @round, :ul => @problem_no %> 
<% end %>
<table class="table table-bordered">
  <tr>
   <th>Id</th>
   <th>Se</th>
   <th>Úl</th>
   <th>Řešení</th>
   <th>Oprava</th>
   <th>Řešitel</th>
   <th>Orig</th>
   <th>Body</th>
 </tr>
<% @solutions.each do |sol| %>
  <tr>
    <td><%= sol.id %></td>
    <td><%= sol.sosna_problem.round %></td>
    <td><%= sol.sosna_problem.problem_no %></td>
    <td>
      <% if sol.filename  %>
         <%= link_to sol.filename , {:action => :download, :id => sol.id}, {:title => sol.filename_orig} %></td>
      <% else %>
         <i>žádný soubor</i>
      <% end %>
      </td>
    <td>
      <% if sol.filename_corr  %>
         <%= link_to sol.filename_corr , {:action => :download_corr, :id => sol.id}, {:title => sol.filename_corr_display} %></td>
      <% else %>
         <i>oprava není</i>
      <% end %>
      </td>
    <td><%= sol.sosna_solver.full_name%></td>
    <td><%= sol.filename_orig %></td>
    <% if @want_edit %>
      <td><input class="input-mini" type="text" name="score[<%= sol.id %>]" size="3" value="<%= sol.score || '-'%>"/></td>
    <% else %>
      <td><%= sol.score || '-'%> </td>
    <% end %>
  </tr>

<% end %>
<% if @solutions.empty? %>
  <tr><td colspan="6"><i>žádná řešení</i><td></tr>
<% end %>

</table>

<% if @want_edit %>
<button type='submit' class='btn btn-success'>Uložit</button> 
</form>

<%= link_to 'Zpět', {action: :index, roc: @annual, se: @round, ul: @problem_no}, {:class => 'btn'} %>

<% else %>
  <%= link_to 'Stáhnout tato řešení v jednom .zip',
            { :action => :downall, roc: @annual, se: @round, ul: @problem_no },
            { :class=> 'btn btn-primary'} %>

  <hr>
  <% if  @problem_no %>
    <%= form_tag({:action => :upload_corr} , :multipart => true ) do %>
          <%= hidden_field_tag :roc, @annual %>
          <%= hidden_field_tag :se,  @round %>
          <%= hidden_field_tag :ul,  @problem_no %>
          <%= file_field_tag :file_corr, :class => 'input-small', :accept => '*.pdf|*.zip'  %>
          <%= submit_tag 'Nahraj opravené řešení ', :class => 'btn'  %>
    <% end %>
  <% end %>

<% end %>


<% end # annuals %>
