

<h1>Úlohy <%= @config[:annual] %>. ročníku, serie <%= @config[:round] %></h1>

<table class="table table-bordered">
  <tr> 
   <th>Úloha</td>
   <th>Soubor</td>
   <th>Nahrát</td>
 </tr> 
<% @problems.each do |p| %>
  <tr>
<!--    <td><%= link_to p.id, :action => :show, :id => p.id %></a><td>
    <td><%= p.annual %></td> 
    <td><%= p.round %></td>
-->
    <td><%= p.problem_no%> </td>
    <td>
      <%# FIXME:   @solutions[p.id] orig_name to title %>
      <%= link_to @solutions[p.id].orig_filename, :action => :download, :id => p.id %>
    </td>
    <td>  <%= form_for  @solutions[p.id], :html => {:class=> 'form-inline', :multipart => true}, :url => :sosna_user_solution_update do |f|  %>
          <%= f.hidden_field :id %>
          <%= f.file_field :solution_file , :class => 'input-small', :accept => '*.pdf'  %>
          <%= f.submit :class => 'btn', :value => 'Nahraj řešení ' %>
          <% end %>
         </td>

  </tr>
<% end %>
</table>
