
<h1>Úlohy  roč. <%=@annual%>, série <%=@round%> </h1>
<table class="table table-condensed table-hover table-bordered">
  <tr>
   <th>Id</th>
   <th>Ročník</th>
   <th>Serie</th>
   <th>Úloha</th>
   <th>Název</th>
 </tr>
<% @problems.each do |p| %>
  <tr>
    <td><%= link_to p.id, :controller => :problem, :action => :show, :id => p.id %></a></td>
    <td><%= p.annual %></td>
    <td><%= p.round %></td>
    <td><%= p.problem_no%> </td>
    <td><%= p.title%> </td>
  </tr>
<% end %>
</table>

<%= link_to 'Nová úloha', :sosna_problem %>

<%= form_tag sosna_problem_new_round_path do %>
Ročník: <%= text_field_tag :annual , @annual %>
Série: <%= text_field_tag :round , @round.to_i + 1 %>
Počet úloh: <%= text_field_tag :count , 6 %>
<%= submit_tag 'Vytvoř sérii úloh' %>
<% end %>
