
<h1>Úloha č. <%= @problem.problem_no %> - editace</h1>

<% if !@problem.id.nil? %>
  <%= link_to_show '<předchozí',  @problem.next(-1)  %>
  <%= link_to_show 'další>',      @problem.next      %>
<% end %>


<%= form_for @problem, :url => {:action => :update }  do |f| %> 
  <%= f.hidden_field :id if @problem.id %></br>
  Ročník: <%= f.text_field :annual %><br/>
  Série: <%= f.text_field :round %><br/>
  Úloha: <%= f.text_field :problem_no %><br/>
  Název: <%= f.text_field :title %><br/>
  <%= f.submit 'Uložit'%>
  <% if @problem.next %>
     <%= f.submit 'Uložit a další' %>
  <% end %>
<% end %>

