
<% if @school.nil? %>
  no such school
<% else %>
  
  <% if @school.name %>
    <h1>Škola  <%= @school.name %> - editace</h1>
  <% else %>
    <h1>Nová škola</h1>
  <% end %>
  
  <% if !@school.id.nil? %>
    <%= link_to_show '<předchozí',  @school.next(-1)  %>
    <%= link_to_show 'další>',      @school.next      %>
  <% end %>
  
  <%#= form_for @school, :url => {:action => :update }  do |f| %> 
  <%= form_for @school, :url => sosna_school_update_path() do |f| %> 
    <%= f.hidden_field :id if @school.id %></br>
    Zkratka: <%= f.text_field :short %><br/>
    Název: <%= f.text_field :name %><br/>
    Ulice: <%= f.text_field :street%><br/>
    číslo: <%= f.text_field :num %><br/>
    PSČ: <%= f.text_field :psc %><br/>
    Město: <%= f.text_field :city %><br/>
    <%= f.submit 'Uložit'%>
    <% if @school.next %>
      <%= f.submit 'Uložit a další' %>
    <% end %>
  <% end %>
<% end %>
