
<% if @school.nil? %>
  no such school
<% else %>
  
  <% if @school.name %>
    <h1>Škola  <%= @school.name %> - editace</h1>
  <% else %>
    <h1>Nová škola</h1>
  <% end %>
  
  <% if !@school.id.nil? %>
    <%= link_to_show '<předchozí',  @school.next(-1)  %>
    <%= link_to_show 'další>',      @school.next      %>
  <% end %>
  
  <%= form_for @school, :url => sosna_school_update_path(), :html => {:class=>'form-horizontal'} do |f| %> 

    <%= f.hidden_field :id if @school.id %></br>

    <div class="control-group">
      <label class="control-label" for="school_name">Název</label>
      <div class="controls"> <%= f.text_field :name %> </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="school_nazev">Zkratka</label>
      <div class="controls"> <%= f.text_field :short %> </div>
    </div>
    
    <div class="control-group">
      <label class="control-label" for="school_nazev">Ulice</label>
      <div class="controls"> <%= f.text_field :street %> </div>
    </div>
    
    <div class="control-group">
      <label class="control-label" for="school_nazev">Číslo</label>
      <div class="controls"> <%= f.text_field :num %> </div>
    </div>
    
    <div class="control-group">
      <label class="control-label" for="school_nazev">PSČ</label>
      <div class="controls"> <%= f.text_field :psc %> </div>
    </div>
    
    <div class="control-group">
      <label class="control-label" for="school_nazev">Město</label>
      <div class="controls"> <%= f.text_field :city %> </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="school_nazev">Univerzalní Id</label>
      <div class="controls"> <%= f.text_field :universal_id %> </div>
    </div>

        <div class="form-group">
          <div class="col-sm-9">
           <label class="checkbox" for="skoly"> <%= f.check_box :want_paper  %> Chce zasílat papírové zadání (<code>want_paper</code>), bude se generovat obálka.
           </label>
          </div>
        </div>

    <div class="control-group">
       <div class="controls">
        <%= f.submit 'Uložit', :class=>'btn btn-primary'%>
        <% if @school.next %>
          <%= f.submit 'Uložit a další', :class=>'btn btn-primary' %>
        <% end %>
      </div>
    </div>

  <% end %>
<% end %>

<hr>

<% if @school.id %>
  <% if can? :delete, Sosna::School %>
    <%= form_tag sosna_school_delete_path(id:@school.id) do %>
      <%= submit_tag  'Smazat školu (nebude žádné "jsi si jistý?")', :class=>'btn btn-danger' %></div>
    <% end %>
  <% else %>
      <%= submit_tag  'Smazat školu může adm', :class=>'btn disabled' %></div>
  <% end %>
<% end %>
