<% if can? :new_year, Act::Participant %>
  <a href=<%= act_participants_confirm_new_year_path %> class="btn btn-danger" type="submit">
    <span class="ace-icon fa fa-flash"></span>
    <span>Nový ročník</span>
  </a>
<% end %>

<% if can? :new_year, Act::Participant %>
  <a href=<%= act_participants_confirm_previous_year_path %> class="btn btn-danger" type="submit">
    <span class="ace-icon fa fa-flash"></span>
    <span>Předchozí ročník</span>
  </a>
<% end %>

<% if can? :read_other, Act::Participant %>
<h1>Přehled účastnických účtů</h1>
  <div class="tabbable">
  <ul id="myTab" class="nav nav-tabs">
    <li <%= class_active_if "ev" == @grade %>> <%= link_to 'Všichni', act_participant_filter_path(grade: "ev", role: @role) %></li>
     <li <%= class_active_if @grade == "young" %> ><%= link_to "Mladší", act_participant_filter_path(grade: "young", role: @role) %></li>
     <% Act::Participant::GRADES.each do |grade| %>
       <li <%= class_active_if grade == @grade %> ><%= link_to Act::Participant::GRADES_TXT[grade], act_participant_filter_path(grade: grade, role: @role) %></li>
     <% end %>
     <li <%= class_active_if @grade == "old" %>><%= link_to "Starší", act_participant_filter_path(grade: "old", role: @role) %></li>

     <li class="col-lg-offset-4 col-md-offset-2 col-xs-offset-1 <%= " active" if "p" == @role %>"> <%= link_to 'Účastníci', act_participant_filter_path(grade: @grade, role: "p") %></li>
     <li <%= class_active_if "o" == @role %>> <%= link_to 'Orgové', act_participant_filter_path(grade: @grade, role: "o") %></li>
  </ul>

   <div class="tab-content">
    <div class="tabtab-pane in active">
      <div class="table-div">
        <table class="table table-hover table-condensed table-bordered">
        <tr>
          <th>Id</th>
          <th>User Id</th>
          <th>Jméno</th>
          <th>Příjmení</th>
          <th>Přezdívka</th>
          <th>Ročník</th>
          <th>Účet aktivován</th>
          <th>Org</th>
        </tr>
        <% @participants.each do |participant|  %>
        <tr>
           <td> <%= link_to participant.id, act_participant_path(participant.id) %> </td>
           <td>
            <% if participant.user %>
              <%= link_to participant.user.id, user_show_path(participant.user.id) %>
            <% else %>
              <b style="color:Red;">Uživatel nepřiřazen</b>
            <% end %>
           </td>
           <td> <%= participant.name %> </td>
           <td> <%= participant.last_name %> </td>
           <td> <%= participant.nickname %> </td>
           <td> <%= participant.grade %> </td>
           <th> <%= participant.activated %> </td>
           <td> <%= participant.org? %> </td>
        </tr>
        <% end %>
        </table>
      </div>
    </div>
   </div>
</div>

<% else %>

<h1>Účastnické účty</h1>

<p>
Účastnické účty slouží k tomu, aby ses mohl přihlásit na Pikomatí akce. Oproti starému systému přihlašování tak nebudeš mouset vyplňovat na každou akci celou přihlášku znovu.
</p>

<p>
<% if current_user.nil? %>
  Na vytvoření účastnického účtu se ale musíš nejprve
  <%= button_tag "přihlásit", :href => new_user_session_url, class: "btn btn-xs btn-primary" %>.<br>
<% elsif ! Act::Participant::has_participant?(current_user) %>
<%= button_tag "Vytvoř si vlastní účet!", :href => act_participant_new_path, :class => 'btn btn-primary' %>.
<% else %>
  Ty již účastnický účet máš. Proto neváhej, a na nějakou akci se přihlaš :-). Seznam všech akcí nalezneš <%= link_to "zde", act_events_path %>.
<% end %>
</p>
<% end %>
