<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
<div class="col-xs-12 col-sm-9 col-md-12 col-lg-12">
  <h2>Účastnický účet
<% if (can? :edit_other, Act::Participant) || Act::Participant::participant_id(current_user) == @participant.id.to_i %>
  <a href=<%= act_participant_edit_path(@participant) %> class="btn btn-primary" type="submit">
    <span class="ace-icon fa fa-edit"></span>
    <span>Edituj</span>
    <span class="hidden-xs">účet</span>
  </a>
<% end %></h2>

<%= render :partial => "info", locals: { participant: @participant } %>

</div>
</div>

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
<h2>Moje akce</h2>
<table class="table table-hover table-condensed table-bordered">
  <%= render :partial => "act/events/events_brief", locals: { events: @my_events, half_page: true, old: false } %>
</table>
</div>

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
<h2>Kam bych se ještě mohl<%= "a" if @participant.female? %> přihlásit</h2>
<table class="table table-hover table-condensed table-bordered">
  <%= render :partial => "act/events/events_brief", locals: { events: @not_my_events, half_page: true, old: false } %>
</table>
</div>

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
<h2>Kam zatím nevím, jestli chci jet</h2>
<table class="table table-hover table-condensed table-bordered">
  <%= render :partial => "act/events/events_brief", locals: { events: @maybe_events, half_page: true, old: false } %>
</table>
</div>

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
<h2>Kam nepojedu</h2>
<table class="table table-hover table-condensed table-bordered">
  <%= render :partial => "act/events/events_brief", locals: { events: @no_events, half_page: true, old: false } %>
</table>
</div>