

Problems year <%= @year %>, round <%= @round %>: 

<table>
  <tr> 
   <th>id</td>
   <th>year</td>
   <th>round</td>
   <th>problem_no</td>
   <th>filename</td>
 </tr> 
<% @problems.each do |p| %>
  <tr>
    <td><%= link_to p.id, :controller => :sosna, :action => :problem, :id => p.id %></a><td>
    <td><%= p.year %></td>
    <td><%= p.round %></td>
    <td><%= p.problem_no%> </td>
    <td><span title="<%= @solutions[p.id].filename %>"><%= @solutions[p.id].orig_filename %></span> </td>
    <td>  <%= form_for  @solutions[p.id], :html => {:multipart => true}, :url => :sosna_solution_save do |f|  %>
          <%= f.hidden_field :id %></br>
          <%= f.file_field :solution_file  %>
          <%= f.submit %>
          <% end %>
         </td>

  </tr>
<% end %>
</table>
