<%#<h1>Tep Pikomatu MFF UK</h1> %>

<% @no_sidebar  = true %>

<div class="row">
  <div class="col-sm-3">
    <div class="widget-box">
      <div class="widget-header widget-header-flat"><h4><i class="fa fa-square"></i> O Pikomatu</h4></div>
      <div class="widget-body">
        <div class="widget-main">
          <ul class="list-unstyled spaced">
             <li><a href="<%= url_for 'web' %>"><i class="fa fa-flag green"></i> Hodnoty a cíle</a></li>
             <li><a href="<%= url_for 'web' %>"><i class="fa fa-flag green"></i> Oranizátoři</a></li>
             <li><a href="<%= url_for 'web' %>"><i class="fa fa-flag green"></i> Kontakty</a></li>
             <li><a href="<%= url_for 'web' %>"><i class="fa fa-flag green"></i> Historie</a></li>
             <li><a href="<%= url_for 'web' %>"><i class="fa fa-flag green"></i> Píší o někom jiném</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="widget-box">
      <div class="widget-header widget-header-flat"><h4><i class="fa fa-edit"></i> Zadání</h4></div>
      <div class="widget-body">
        <div class="widget-main">
          <ul class="list-unstyled spaced">
             <li><a href="/web"><i class="fa fa-flag green"></i> Aktuální série</a></li>
             <li><a href="/web"><i class="fa fa-flag green"></i> Archiv</a></li>
             <li><a href="/web"><i class="fa fa-flag green"></i> Pravidla, pokyny a rady</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="widget-box">
      <div class="widget-header widget-header-flat"><h4><i class="fa fa-fire"></i> Tábory</h4></div>
      <div class="widget-body">
        <div class="widget-main">
          <ul class="list-unstyled spaced">
             <li><a href="<%= url_for 'web' %>"><i class="fa fa-flag green"></i> 2014</a></li>
             <li><a href="<%= url_for 'web' %>"><i class="fa fa-flag green"></i> 2013</a></li>
             <li><a href="<%= url_for 'web' %>"><i class="fa fa-flag green"></i> 2012</a></li>
             <li><a href="<%= url_for 'web' %>"><i class="fa fa-flag green"></i> 2011</a></li>
             <li><a href="<%= url_for 'web' %>"><i class="fa fa-flag green"></i> Další...</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="widget-box">
      <div class="widget-header widget-header-flat"><h4><i class="fa fa-camera"></i> Fotky</h4></div>
      <div class="widget-body">
        <div class="widget-main">
          <ul class="list-unstyled spaced">
             <li><a href="/web"><i class="fa fa-flag green"></i> Fotky</a></li>
             <li><a href="/web"><i class="fa fa-flag green"></i> Fotky</a></li>
             <li><a href="/web"><i class="fa fa-flag green"></i> Fotky</a></li>
             <li><a href="/web"><i class="fa fa-flag green"></i> Fotky</a></li>
             <li><a href="/web"><i class="fa fa-flag green"></i> a zase Fotky</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<% if current_user  %>
  <p>Vítej v Tepu!</p>
  
  <p>Jsi přihlášen jako <%= current_user.name %>  <%= current_user.last_name || current_user.email%>.</p>

  <p>
  Svá řešení můžeš nahrát <%= link_to 'zde', sosna_solutions_user_path %>.
  Na tomto místě zároveň obdržíš svá opravená řešení.
  Pokud nevíš jak to tu funguje, neváhej navštívit stránku <%= link_to 'Nápověda', faq_path %>.
  </p>

<% else %>

  <p>Vítej v Tepu. Po přihlášení zde můžeš odevzdat svá elektronická řešení Pikomatu.
  Pokud nejsi do Pikomatu přihlášený, vyplň prosím přihlášku, tím se zaregistruješ.
  </p>

<% end %>
