<h1>Uživatelé</h1>
<table class="table table-bordered">
<tr>
        <th>Id</th>
        <th>Email</th>
        <th>Jméno</th>
        <th>Příjmení</th>
        <th>Role</th>
</tr>
<% @users.each do |user|  %>
<tr>

   <td> <%= link_to user.id, user_show_path(user.id) %> </td>
   <td> <%= user.email %> </td>
   <td> <%= user.name %> </td>
   <td> <%= user.last_name %> </td>
   <td>
        <%= form_for user, url: user_role_change_path(user.id), :html => {:class => 'form-inline' } do |f| %>
            <%= user.roles.to_a.join(',') %>
            <%= f.hidden_field :id %>
            <%= select_tag :role, 
               options_for_select( User.valid_roles.reverse.map { |r| (user.has_role? r) ? "-#{r}" : "+#{r}" }),
               :class => 'input-small'
               %>
            <%= f.submit value: '!'%>
        <% end %>
   </td>
</tr>
<% end %>
</table>

<hr>

<%= form_tag user_new_path, html: {:class=>'form-horizontal'} do %>
         <%= submit_tag 'Nový uživatel', :class=>'btn btn-danger'%>
<% end %>
