
<h1>Uživatel  <%= @user.email %> - editace</h1>

<%= form_for @user, url: user_update_path(@user.id), html: {:class=>'form-horizontal'} do |f| %>
    <div class="control-group">
      <label class="control-label" for="user[email]">Email</label>
      <div class="controls"> <%= f.text_field :email %> </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="user[name]">Jméno</label>
      <div class="controls"> <%= f.text_field :name %> </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="user[last_name]">Příjmení</label>
      <div class="controls"> <%= f.text_field :last_name %> </div>
    </div>

    <div class="control-group">
       <div class="controls">
         <%= f.submit 'Uložit', :class=>'btn btn-primary'%>
       </div>
    </div>
<% end %>


<hr>
Skupiny:
<%= form_for @user, url: user_role_change_path(@user.id), :html => {:class => 'form-inline' } do |f| %>
    <%= @user.roles.to_a.join(',') %>
    <%= f.hidden_field :id %>
    <%= select_tag :role, 
       options_for_select( User.valid_roles.reverse.map { |r| (@user.has_role? r) ? "-#{r}" : "+#{r}" }),
       :class => 'input-small'
       %>
    <%= f.submit value: 'Přidat/odebrat skupinu'%>
<% end %>

Řešitelé:
<% @solvers.each do |solver| %>
   <%= solver.name %> <%= solver.last_name %> <%= link_to "id#{solver.id}", sosna_solver_url(solver.id)%> (roč<%= solver.annual %>),
<% end %>

<hr>

<%= form_tag user_action_path(@user.id, :send_first_email), html: {:class=>'form-horizontal'} do %>
         <%= submit_tag 'Poslat uvítací email', :class=>'btn btn-danger'%>
<% end %>

<%= form_tag user_action_path(@user.id, :send_password_reset), html: {:class=>'form-horizontal'} do %>
         <%= submit_tag 'Poslat reset hesla', :class=>'btn btn-danger'%>
<% end %>

<hr>

<%= form_tag user_delete_path(id:@user.id) do %>
   <%= submit_tag  'Smazat uživatele (nebude žádné "jsi si jistý?")', :class=>'btn btn-danger' %>
<% end %>

<hr>

<% @resource = @user %>
<h2>Náhled mailů pro tohoto uživatele</h2>

<h3>tep/mailer/first_login_instructions.html.erb</h3>
<div class="well"> <%= render file: 'tep/mailer/first_login_instructions.html.erb' %></div>

<h3>tep/mailer/reset_password_instructions.html.erb</h3>
<div class="well"> <%= render file: 'tep/mailer/reset_password_instructions.html.erb' %></div>

<h3>tep/mailer/unlock_instructions.html.erb</h3>
<div class="well"> <%= render file: 'tep/mailer/unlock_instructions.html.erb' %></div>

<h3>confirmation_instructions.html.erb</h3>
<div class="well"> <%= render file: 'tep/mailer/confirmation_instructions.html.erb' %></div>

