<div class="table-div">
  <% events.each do |event| %>
    <div class="act_events_leave_space">
    <div class="act_events_bck_white">
        <center>
          <% if event.event_visible?(current_user)%>
      <b><%= event.title %> (<%= event.date_str() %>):</b>
        <% if event.event_info_url != "" %>
          <%= button_tag "info", href: event.event_info_url, class: "btn btn-xs btn-primary" %> <%= button_tag "přihlašování", href: act_event_path(event), class: "btn btn-xs btn-purple" %>
      <% else %>
        <%= button_tag "info a přihlašování", href: act_event_path(event), class: "btn btn-xs btn-pink" %>
      <% end %>
      <% if event.event_photos_url != "" %>
        <%= button_tag "fotky", href: event.event_photos_url, class: "btn btn-xs btn-success" %>
      <% end %>
    <% end %>
        </center>
    </div>
    </div>
  <% end %>
</div>
