<div class="table-div">
  <% events.each do |event| %>
    <% if event.event_visible?(current_user)%>
      <b><%= event.title %> (<%= event.date_str() %>):</b>
        <% if event.event_info_url != "" %>
          <a href="<%= event.event_info_url %>">info</a> <%= link_to "přihlašování", event %>
      <% else %>
        <%= link_to "info a přihlašování", event %>
      <% end %>
      <% if event.event_photos_url != "" %>
        <a href="<%= event.event_photos_url %>">fotky</a>
      <% end %>
      <br>
    <% end %>
  <% end %>
</div>
