<% events.each do |event| %>
  <tr class="<%= "act_bck_grey" if old %>">
    <% if event.event_visible?(current_user) %>
      <th class="col-md-4 col-sm-4 col-xs-4"><b><%= event.title %></th>
      <th class="col-md-4 col-sm-3 col-xs-4"> <%= event.date_str() %></b></th>
      <th class="act_center col-md-3 col-sm-5 col-xs-4">
      <% if event.event_info_url != "" %>
        <%= button_tag "info", href: event.event_info_url, class: "btn btn-xs btn-primary", ico: "fa-book" %>
        <%= button_tag "přihlašování", href: act_event_path(event), class: "btn btn-xs btn-purple", ico: "fa-user" %>
      <% else %>
        <a href=<%= act_event_path(event) %> class="btn btn-xs btn-purple" type="submit">
          <span>&nbsp;&nbsp;</span>
          <span class="ace-icon fa fa-user"></span>
          <span class="hidden-xs">info a přihlašování</span>
          <span>&nbsp;&nbsp;&nbsp;</span>
        </a>
      <% end %>
      </th>
      <th class="act_left col-md-1 col-sm-1 col-xs-0 ">
      <% if event.event_photos_url != "" %>
        <%= button_tag "fotky", href: event.event_photos_url, class: "btn btn-xs btn-success", ico: "fa-photo" %>
      <% end %>
      </th>
    <% end %>
  </tr>
<% end %>