<h1>Účastníci akce 
  <%= @event.title %>
  <%= button_tag "Zpět", :href => act_event_path(@event), :class=>'btn', :ico =>'fa-reply' %>
</h1>

<%= form_tag(method: "post") do %>
  <%= fields_for :filter_hashes do |f| %>
    <% for attr in Act::Scout::ATTR_TABLE do %>
      <%= f.check_box(attr[0], { :checked => @filter_hashes[attr[0].to_s] == "true" }, true, false ) %>
      <%= f.label(attr[0], attr[1]) %> 
    <% end %>
  <% end %>

  <%= submit_tag("Hledej") %>
<% end %>

<table>
  <tr>
    <b>
      <% for attr in Act::Scout::ATTR_TABLE do %>
        <% if @filter_hashes.key?(attr[0].to_s) %>
          <td>
            <%= attr[1] %>
          </td>
        <% end %>
      <% end %>
    </b>
  </tr>

  <tr>
    <% for attr in Act::Scout::ATTR_TABLE do %>
      <% if @filter_hashes.key?(attr[0].to_s) %>
        <td>Organizátoři</td>
      <% end %>
    <% end %>
  </tr>

  <%= render :partial => "display_scouts_single_type", locals: { event_participants: @orgs_yes } %>
  <%= render :partial => "display_scouts_single_type", locals: { event_participants: @orgs_maybe } %>
  <%= render :partial => "display_scouts_single_type", locals: { event_participants: @orgs_no } %>
  
  <tr>
    <% for attr in Act::Scout::ATTR_TABLE do %>
      <% if @filter_hashes.key?(attr[0].to_s) %>
        <td>Účastníci</td>
      <% end %>
    <% end %>
  </tr>

    <%= render :partial => "display_scouts_single_type", locals: { event_participants: @parts_yes } %>
  <%= render :partial => "display_scouts_single_type", locals: { event_participants: @parts_maybe } %>
  <%= render :partial => "display_scouts_single_type", locals: { event_participants: @parts_no } %>

  <tr>
    <% for attr in Act::Scout::ATTR_TABLE do %>
      <% if @filter_hashes.key?(attr[0].to_s) %>
        <td>Náhradníci</td>
      <% end %>
    <% end %>
  </tr>

    <%= render :partial => "display_scouts_single_type", locals: { event_participants: @substitutes_yes } %>
  <%= render :partial => "display_scouts_single_type", locals: { event_participants: @substitutes_maybe } %>
  <%= render :partial => "display_scouts_single_type", locals: { event_participants: @substitutes_no } %>

</table>
