<h1>Editovat akci <%= button_tag "Zpět", :href => act_event_path(@event), :class=>'btn', :ico =>'fa-reply' %>
</h1>

<% if can? :edit, Act::Event %>
  <%= render :partial => "form_edit", :locals => { :is_edit => true, :is_jakna => false } %>
<% end %>

<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>


<% if can? :delete, Act::Event %>
  <%= form_tag act_event_delete_path(id: @event.id) do %>
    <%= submit_tag  'Smazat akci (nebude žádné "jsi si jistý?")', :class=>'btn btn-danger' %>
  <% end %>
<% else %>
    <%= submit_tag  'Smazat akci může pouze admin', :class=>'btn btn-disabled' %></div>
<% end %>

