<% pp Act::EventParticipant.all %>

<h1>Editace účastníků akce akce <%= @event.title %>
<%= button_tag "Zpět", :href => act_event_path(@event), :class=>'btn', :ico =>'fa-reply' %>
</h1>
<div class="tabbable">
  <ul id="myTab" class="nav nav-tabs">
     <li <%= class_active_if "ev" == @chosen %>> <%= link_to 'Všichni', act_event_enroll_others_path(status: @status, chosen: "ev", role: @role) %></li>
     <% Act::EventParticipant::CHOSEN_OPTIONS.each do |opt| %>
       <li <%= class_active_if opt == @chosen %> ><%= link_to Act::EventParticipant::CHOSEN_OPTIONS_TXT[opt], act_event_enroll_others_path(status: @status, chosen: opt, role: @role) %></li>
     <% end %>
    
     <li <%= class_active_if "ev" == @status %> style="margin-left:16mm"> <%= link_to 'Všichni', act_event_enroll_others_path(status: "ev", chosen: @chosen, role: @role) %></li>
     <li <%= class_active_if "yes" == @status %> style="margin-left:00mm"> <%= link_to 'Jedou', act_event_enroll_others_path(status: "yes", chosen: @chosen, role: @role) %></li>
     <li <%= class_active_if "maybe" == @status %> style="margin-left:00mm"> <%= link_to 'Neví', act_event_enroll_others_path(status: "maybe", chosen: @chosen, role: @role) %></li>
     <li <%= class_active_if "no" == @status %> style="margin-left:00mm"> <%= link_to 'Nejedou', act_event_enroll_others_path(status: "no", chosen: @chosen, role: @role) %></li>
     <li <%= class_active_if "nvt" == @status %> style="margin-left:00mm"> <%= link_to 'Nepřihlášení', act_event_enroll_others_path(status: "nvt", chosen: @chosen, role: @role) %></li>

     <li <%= class_active_if "p" == @role %> style="margin-left:16mm"> <%= link_to 'Účastníci', act_event_enroll_others_path(status: @status, chosen: @chosen, role: "p") %></li>
     <li <%= class_active_if "o" == @role %>> <%= link_to 'Orgové', act_event_enroll_others_path(status: @status, chosen: @chosen, role: "o") %></li>
  </ul>

   <div class="tab-content">
    <div class="tabtab-pane in active">
      <div class="table-div">
        <table class="table table-hover table-condensed table-bordered">
        <tr>
          <th>Id</th>
          <th>Jméno</th>
          <th>Příjmení</th>
          <th>Přezdívka</th>
          <th>Status</th>
          <th>Pozice</th>
          <th>Role</th>
          <th style="text-align: center" colspan="3">Přihlaš jako</th>
        </tr>
        <% @participants.each do |participant|  %>
        <tr>
           <td> <%= link_to participant.id, act_participant_path(participant.id) %> </td>
           <td> <%= participant.name %> </td>
           <td> <%= participant.last_name %> </td>
           <td> <%= participant.nickname %> </td>
           <td> <%= Act::EventParticipant::status_txt_long(@event, participant) %> </td>
           <td> <%= Act::EventParticipant::chosen_txt(@event, participant) %> </td>
           <td> <%= Act::EventParticipant::role_txt(@event, participant) %> </td>
           <td style="border-right-style: hidden; text-align: center"> <%= render partial: "form_enroll_other", locals: { event: @event, participant: participant, chosen: "participant", delete: false, role: @role, text: "Přihlásit", status: @status, chosen_filter: @chosen, btn_class: "btn btn-success" } %> </td>
           <td style="border-right-style: hidden; text-align: center"> <%= render partial: "form_enroll_other", locals: { event: @event, participant: participant, chosen: "substitute", delete: false, role: @role, text: "Náhradník", status: @status, chosen_filter: @chosen, btn_class: "btn btn-warning" } %> </td>
           <td> <%= render partial: "form_enroll_other", locals: { event: @event, participant: participant, chosen: "none", delete: true, role: @role, text: "Smazat", status: @status, chosen_filter: @chosen, btn_class: "btn btn-danger" } %> </td>
        </tr>
        <% end %>
        </table>
      </div>
    </div>
   </div>  
</div>
