<div class="col-xs-12">
<div class="act_events_bck_white">
  <h1>Zobrazování akcí</h1>
</div>

<p class="act_events_bck_white">
Řešíš Pikomat a chtěl bys poznat ostatní řešitele? Máš pocit, že se ve třídě nemáš s kým bavit, a rád bys někam zapadl? Přijď na některé z našich setkání! Pravidelně pořádáme jednodenní i vícedenní akce, kterých se účastní jak naši nejlepší řešitelé, tak i ti, kteří s řešením zrovna začínají. Pikomat, to je kolektiv stmelený dohromady společnými prožitky a společenství plné přátelské atmosféry.
</p>

<% unless Act::Participant::has_participant?(current_user) %>
  <p>
    <div class="alert alert-warning">
      Abys ses mohl přihlásit na nějakou akci, musíš mít založený účastnický účet, a navíc ještě musíš být přihlášený/á. Účastnický účet si můžeš založit 
      <%= link_to "zde", act_participant_new_path %>.
    </div>
  </p>
<% end %>

<% if can? :new, Act::Event %>
  <a href=<%= act_event_new_url %> class="btn btn-primary" type="submit">
    <span class="ace-icon fa fa-edit"></span>
    <span>Vytvořit </span>
    <span class="hidden-xs">novou </span>
    <span>akci</span>
  </a>
<% end %>
<% if can? :read, Act::EventCategory %>
  <a href=<%= act_event_categories_url %> class="btn btn-purple" type="submit">
    <span class="ace-icon fa fa-flask"></span>
     <span>Typy akcí</span>
  </a>
<% end %>
<% if current_user && current_user.org? %>
  <a href=<%= act_events_jakna_path %> class="btn btn-info" type="submit">
    <span class="ace-icon fa fa-print"></span>
    <span>Návod</span>
    <span class="hidden-xs"> na používání</span>
  </a>
<% end %>

<%= render :partial => "form_filter" %>

<%= render :partial => "events_brief", locals: { events: @future_events, half_page: false, header: "Budoucí akce" } %>

<%= render :partial => "events_brief", locals: { events: @past_events, half_page: false, header: "Již proběhlé akce" } %>
</div>
