<div class="act_events_background_imagex">

<center>
<div class="act_events_bck_white">
  <h1>Zobrazování akcí</h1>
</div>

  <div class="col-sm-1"></div>
  <center>
    <div class="col-sm-10">
<p class="act_events_bck_white">
Řešíš Pikomat a chtěl bys poznat ostatní řešitele? Máš pocit, že se ve třídě nemáš s kým bavit, a rád bys někam zapadl? Přijď na některé z našich setkání! Pravidelně pořádáme jednodenní i vícedenní akce, kterých se účastní jak naši nejlepší řešitelé, tak i ti, kteří s řešením zrovna začínají. Pikomat, to je kolektiv stmelený dohromady společnými prožitky a společenství plné přátelské atmosféry.
</p>
    </div>
  </center>
  <div class="col-sm-1"></div>
  <br><br><br><br><br>

<% unless Act::Scout::scouts?(current_user) %>
  <p>
  Abys ses mohl přihlásit na nějakou akci, musíš mít založený účastnický účet, a navíc ještě musíš být přihlášený/á. Účastnický účet si můžeš založit 
  <%= link_to "zde", act_scout_new_path %>.
  </p>
<% end %>

<% if can? :new, Act::Event %>
  <%= button_tag "Vytvořit novou akci", :href => act_event_new_path, :class => 'btn btn-primary', :ico => "fa-edit" %>
<% end %>
<% if can? :read, Act::EventCategory %>
  <%= button_tag "Typy akcí", :href => act_event_categories_path, :class => 'btn btn-primary', :ico => "fa-flask" %>
<% end %>

<%= render :partial => "form_filter" %>

<h2>Budoucí akce</h2>

<%= render :partial => "events_brief", locals: { events: @future_events } %>

<h2>Již proběhlé akce</h2>

<%= render :partial => "events_brief", locals: { events: @past_events } %>
</div>
</center>
