<!DOCTYPE html>
<html>
<head>
  <title>Pia</title>
  <%= stylesheet_link_tag :all %>
  <!--- -->
  <%= stylesheet_link_tag 'bootstrap.ccs'  %>
  <%= stylesheet_link_tag 'bootstrap-responsive.css'  %>
  <%= stylesheet_link_tag 'andulka/stylesheet.css' %>
  <%= stylesheet_link_tag 'pia.css' %>
  <%= javascript_include_tag 'jquery-1.10.2.js' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>


    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Pia desideria</a>
          <div class="nav-collapse collapse">
                <% if user_signed_in?  %>
                  <p class="navbar-text pull-right">
                     <a href="#" class="navbar-link"><%= current_user.email %></a>
                     <%= link_to  'Logout', :destroy_user_session %>
                  </p>
                <% else %>
                  <p class="navbar-text pull-right">
                     <%= link_to  'Přihlášení', :new_user_session  %>
                     <%= link_to  'Registrace', :new_user_registration  %>
                  </p>
                <% end %>
<%#            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
%>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>




<div style="background-color:gray" class="">
</div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">

              <% if user_signed_in?  %>
                <li class="nav-header">Uživatel</li>
                  <li><%= link_to  'Tvá řešení', :sosna_user_solutions %></li>
                  <li><%= link_to  'Změna hesla', :edit_user_registration %></li>
              <% else %>
              <% end %>
              <% if current_user && current_user.has_role?(:org) %>
                <li class="nav-header">Org</li>
                <li><%= link_to 'Uživatelé', :users_list  %></li>
                <li><%= link_to 'Řešení řešitelů', :sosna_org_solutions %></li>
                <li><%= link_to 'Příklady', :sosna_problems %></li>
                <li><%= link_to 'Konfigurace', :sosna_configs  %></li>
              <% end %>
              <li class="nav-header">Odkazy</li>
              <li><%= link_to 'Pikomat', 'http://pikomat.mff.cuni.cz/' %></li>
              <li><%= link_to 'Přihláška', :sosna_applicant_new  %></li>
              <li><%= link_to 'Archiv', '#' %></li>
              <li><%= link_to 'Tábory', '#' %></li>
              <li><%= link_to 'O nás', '#'  %></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">

<% if flash[:errors] %>
  <% flash[:errors].each do |key,msg| %>
  <div class="alert alert-error">
    <%#  <button type="button" class="close" data-dismiss="alert">&times;</button> %>
    <strong><%= key.capitalize %></strong> <%=msg %>
    </div>
  <% end %>
<% end %>

<%= yield %>
     </div>
   </div>
</div>

</body>
</html>
