<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <!-- use the following meta to force IE use its most up to date rendering engine -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <%#  rozmyslet: viz http://pikomat.ms.mff.cuni.cz/pokusy/ace-admin/docs/#basics/layout  %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <title>Pikomat MFF UK</title>
  <meta name="description" content="pikomat korespondenční matematický seminář, soustředění matematické tábory" />
  <%= stylesheet_link_tag '/ace/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag '/ace/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag '/ace/css/font-awesome.min.css' %>
  <%= stylesheet_link_tag '/ace/css/ace-fonts.css' %>
  <%# stylesheet_link_tag '/ace/css/ace.min.css' %>
  <%= stylesheet_link_tag '/ace/css/uncompressed/ace.css' %>
  <%#= stylesheet_link_tag '/ace/css/ace-skins.min.css' %>
  <%= stylesheet_link_tag '/ace/css/uncompressed/ace-skins-plus.css' %>
  <%= stylesheet_link_tag '/ace/css/ace-rtl.min.css' %>
  <%= stylesheet_link_tag '/ace/css/chosen.css' %>
  <%= stylesheet_link_tag '/ace/css/ui.jqgrid.css' %>
  <%# stylesheet_link_tag '/ace/css/ace-part2.css' %>

  <%= stylesheet_link_tag 'andulka/stylesheet.css' %>
  <%= stylesheet_link_tag 'tep.css' %>

  <%= javascript_include_tag '/ace/js/ace-extra.min.js' %>

</head>
<%#  <body class="no-skin"> %>
<body class="no-skin">

<% if ENV['RAILS_ENV'] != 'production'  %>
<img src="<%= asset_path 'images/devel-version.png'%>" style='pointer-events:none;z-index:99;position:fixed;bottom:0;right:0;border:0;'>
<% end %>

<%################################################################################## %>
<%# horni lista %>
<%################################################################################## %>

<div id="navbar" class="navbar navbar-default">
  <div id="navbar-container" class="navbar-container container" >
     <div class="navbar-header">
        <div class="tep-navbar-brand" >
          <a href="<%=url_for '/'%>" class="navbar-brand " >
	     <img src="<%= asset_path '/images/logo_vw.png'%>" width="290px"/> 
	  </a>
        </div>
      </div>
      <div class="navbar-header pull-right" >
          <a href="<%=url_for '/'%>" class="navbar-brand " ><small><i class="ace-icon fa fa-user"></i> prihlaseni</small> </a>
          <a href="<%=url_for '/'%>" class="navbar-brand " ><small><i class="ace-icon fa fa-search"></i> search</small> </a>
      </div>
     </div>
    <% if false %> 
    <div class="navbar-buttons navbar-header pull-right ">
      <ul class="nav ace-nav">
        <% if user_signed_in?  %>
          <li><a href="#" class="navbar-link"><%= current_user.email %></a></li>
          <li><%= link_to  'Logout', :destroy_user_session %></li>
        <% else %>
           <li><%= link_to  'Přihlášení', :new_user_session  %></li>
           <li><%#= link_to  'Registrace', :new_user_registration  %></li>
        <% end %>
      </ul>
    </div><%# navbar-buttons %>
    <%end%>
  </div><%# navbar-container %>
</div><%# navbar %>

<%################################################################################## %>
<%# leve menu %>
<%################################################################################## %>

<div class="main-container container <% if @tep_index %>tep-index<% end %>" id="main-container">
  <% if ! @no_sidebar %>
  <div class="sidebar responsive x-menu-min" id="sidebar">
    <ul class="nav nav-list">
      <%= menu_li '/tabor', 'Pikomat', ico: 'fa-square' do %>
        <ul class="submenu">
          <%= menu_lii '/',        'Hlavní stránka' %>
          <%= menu_lii '/tabor',   'Tábory' %>
          <%= menu_lii '/archiv',  'Archiv příkladů'  %>
          <%= menu_lii '/fotky',   'Fotky'   %>
        </ul>
      <% end %>
      <% if user_signed_in?  %>
        <%= menu_li '#', 'Uživatel', ico: 'fa-user' do %>
          <ul class="submenu">
            <%= menu_lii :sosna_solutions_user,   'Moje řešení' %>
            <%= menu_lii :edit_user_registration, 'Změna hesla' %>
            <%= menu_lii :faq,                    'Nápověda'   %>
          </ul>
        <% end %>
      <% else %>
      <% end %>
      <% if current_user && current_user.has_role?(:org) %>
        <%= menu_li '#', 'Org', ico: 'fa-flag' do %>
          <ul class="submenu">
            <%= menu_lii :sosna_solvers,       'Řešitelé' %>
            <%= menu_lii :sosna_solutions_org, 'Řešení řešitelů' %>
            <%= menu_lii :sosna_problems,      'Úlohy' %>
            <%= menu_lii :sosna_schools,       'Školy' %>
            <%= menu_lii :wiki_main,           'Wiki' %>
            <%= menu_lii :wiki_web,            'Web' %>
            <%= menu_lii :wiki_web_edit,       'Web Edit'%>
          </ul>
        <% end %>
      <% end %>
      <% if current_user && current_user.has_role?(:admin) %>
        <%= menu_li '#', 'Admin', ico: 'fa-eye' do %>
          <ul class="submenu">
            <%= menu_lii :users_list,       'Uživatelé' %>
            <%= menu_lii :sosna_configs,   'Konfigurace' %>
          </ul>
        <% end %>
      <% end %>
    </ul>
    <div id="sidebar-collapse" class="sidebar-toggle sidebar-collapse">
      <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>
  </div> <%# sidebar %>
  <% end # no_sidebar %>

  <% if @no_sidebar %>
    <div>
  <% else %>
    <div class="main-content">
  <% end %>

<%################################################################################## %>
<%# cesta %>
<%################################################################################## %>

  <%#
    # struktura @breadcumb
    # [ cast1, cast2, cast3 ]
    # cast1 : [ item1, item2, item2, ... ]
    # item: 
    #        {name: "Série #{round}", active: true|false, url: url_for(roc: annual, se: round)}
    #%>
  <% if @breadcrumb %>
    <div id="breadcrumbs" class="breadcrumbs">
      <ul class="breadcrumb">

         <% @breadcrumb.each_with_index do |b, idx| %>
           <% b.each_with_index do |bread| %>
             <% if ! bread[:active] || true %>
               <li class="<%= idx == 0 ? 'tep-slash' : ''%>">
                 <% if bread[:ico] %><i class="fa <%= bread[:ico] %> home-icon"></i><% end %>
                 <%=link_to  bread[:name].capitalize, bread[:url] %>
                 <% if bread[:sub] %>
                   <div class="inline pos-rel">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-down"></i></a>
                   <ul class="dropdown-menu dropdown-light dropdown-caret dropdown-closer">
                     <% bread[:sub].each do |bread2| %>
                       <li><%=link_to  bread2[:name].capitalize, bread2[:url] %></li>
                     <% end %>
                   </ul>
                   </div>
                 <% end %>
               </li>
             <% elsif bread[:name] !~  /^index$/i %>
               <li> <%=  bread[:name].capitalize %></li>
             <% end %>
           <% end %> 
         <% end %> 
       </ul>
<%################################################################################## %>
<%# akcni tlacitka %>
<%################################################################################## %>
     <%= yield :action_buttons %>
         <div style='padding-left:12px' id="page-content-top2"></div>
     </div><%#breadcrumb %>
   <% end %>

<%################################################################################## %>
<%# obsah stranky %>
<%################################################################################## %>

   <div class="page-content">

     <div class="row">
       <div id="page-content-top" class="col-xs-12">
        <!-- page content goes here -->
        <%= yield %>


       </div><!-- /.col -->
     </div><!-- /.row -->
   </div><!-- /.page-content -->

  </div><!-- /.main-content -->

<%################################################################################## %>
<%# paticka %>
<%################################################################################## %>
  <div class="footer">
    <div class="footer-inner">
       <div class="footer-content">
          <small>V případě obtíží se obrať na <a href="mailto:pikomat@pikomat.mff.cuni.cz">pikomat@pikomat.mff.cuni.cz</a>.<small>
            <div class="pull-right">
              <div class="ace-settings-item" >
                                <select id="skin-colorpicker" class="">
                                        <option data-skin="no-skin" value="#438EB9">#438EB9</option>
                                        <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                                        <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                                        <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                                        <option selected data-skin="skin-green" value="green">green</option>
                                </select>
              </div>
           </div>
	</div>
      </div>
    </div>
</div><!-- /.main-container -->

<%= javascript_include_tag '/ace/js/jquery.min.js' %>
<%= javascript_include_tag '/ace/js/bootstrap.min.js' %>
<%= javascript_include_tag '/ace/js/jquery-ui.custom.min.js' %>
<%= javascript_include_tag '/ace/js/jquery.ui.touch-punch.min.js' %>
<%= javascript_include_tag '/ace/js/jquery.easypiechart.min.js' %>
<%= javascript_include_tag '/ace/js/jquery.sparkline.min.js' %>
<%= javascript_include_tag '/ace/js/flot/jquery.flot.min.js' %>
<%= javascript_include_tag '/ace/js/flot/jquery.flot.pie.min.js' %>
<%= javascript_include_tag '/ace/js/flot/jquery.flot.resize.min.js' %>
<%# javascript_include_tag '/ace/js/jquery.dataTables.min.js' %>
<%= javascript_include_tag '/ace/js/uncompressed/jquery.dataTables.js' %>
<%= javascript_include_tag '/ace/js/jquery.dataTables.bootstrap.js' %>
<%= javascript_include_tag 'application.js' %>


<script type="text/javascript"> ace.vars['base'] = '/ace'; </script>

<%= javascript_include_tag '/ace/js/ace-elements.min.js' %>
<%= javascript_include_tag '/ace/js/ace.min.js' %>


</body>
</html>

