<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="shortcut icon" type="image/x-icon" href="<%= asset_path 'images/ikonka32.ico' %>" />
  <!-- use the following meta to force IE use its most up to date rendering engine -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <%= csrf_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Pikomat MFF UK</title>
  <meta name="description" content="Pikomat matematická korespondenční soutěž, matematické soustředění, matematické tábory." />
  <%= stylesheet_link_tag '/ace/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag '/ace/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag '/stylesheets/font-awesome.min.css' %>
  <%= stylesheet_link_tag '/ace/css/ace-fonts.css' %>
  <%# stylesheet_link_tag '/ace/css/ace.min.css' %>
  <%= stylesheet_link_tag '/ace/css/uncompressed/ace.css' %>
  <%# stylesheet_link_tag '/ace/css/ace-skins.min.css' %>
  <%= stylesheet_link_tag '/ace/css/uncompressed/ace-skins-plus.css' %>
  <%= stylesheet_link_tag '/ace/css/ace-rtl.min.css' %>
  <%= stylesheet_link_tag '/ace/css/chosen.css' %>
  <%= stylesheet_link_tag '/ace/css/ui.jqgrid.css' %>
  <%# stylesheet_link_tag '/ace/css/ace-part2.css' %>
  <%= stylesheet_link_tag '/stylesheets/andulka/stylesheet.css' %>
  <%= stylesheet_link_tag '/stylesheets/tep.css' %>
  <%= stylesheet_link_tag '/stylesheets/print.css', media:'print'%>


</head>
<%#  <body class="no-skin"> %>
<body class="<%= cookies['ace.skin'.to_sym] || 'no-skin fail'%>"<%if @background_image%> data-background-image="<%=@background_image%>"<%end%>>

<% if ENV['RAILS_ENV'] != 'production'  %>
<img src="<%= asset_path 'images/devel-version.png'%>" style='pointer-events:none;z-index:99;position:fixed;bottom:0;right:0;border:0;'>
<% end %>

<%################################################################################## %>
<%# horni lista %>
<%################################################################################## %>


<div id="navbar" class="navbar navbar-default no-print">
  <div id="navbar-container" class="navbar-container <%if !@wide_display%>container<%end%>" >

<button id="menu-toggler" class="navbar-toggle menu-toggler pull-left" type="button">
<span class="sr-only"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>

     <div class="navbar-header pull-left">
        <div class="tep-navbar-brand hidden-xs" >
          <div class="secret-menu-toggler"></div>
          <a href="<%=url_for_root%>" class="navbar-brand " >
	     <img src="<%= asset_path '/images/logo-vw290.png'%>" width="290px"/>
	  </a>
        </div>
      </div>
    <%################################################################################## %>
    <%# search %>
    <%################################################################################## %>
      <div class="navbar-header navbar-buttons pull-right" >
        <ul class="nav ace-nav">
          <li>
            <div id="nav-search" class="nav-search navbar-header navbar-buttons pull-right">
              <form action="//duckduckgo.com/" class="form-search">
                <span class="input-icon">
                  <input type="hidden" name="sites" value="pikomat.mff.cuni.cz"></input>
                  <input type="hidden" name="kl" value="cz-cs"></input>
                  <input type="hidden" name="k1" value="-1"></input>
                  <input type="hidden" name="kj" value="#438EB9"></input>
                  <input id="nav-search-input" class="nav-search-input" type="text" name="q" autocomplete="off" placeholder="Hledej ..."></input>
                  <i class="ace-icon fa fa-search nav-search-icon"></i>
                 </span>
              </form>
            </div>
          </li>
          <% if user_signed_in?  %>
            <% if current_user.is_org? %>
              <li>
                <a id="klep-link" class="tep-transparent" title="not loged" href='/klep/login' target='_blank'>
                  <% want_grey = session[:klep_user_id].nil? %>
                  <% count = session[:klep_msg_count]||0%>
                  <i id='klep-icon' class="<%if want_grey%>light-grey <%end%>ace-icon fa fa-bell xicon-animated-bell"></i>
                  <span id="klep-count" class="<%if count == 0%>hide<%end%> badge badge-important"><%=count%></span>
                </a>
              </li>
            <% end %>
            <li><%= ilink_to  current_user.email, '#', :ico => 'fa-user', :class=> 'label-user btn btn-primary tep-transparent' %> </li>
            <li><%= ilink_to  'Logout', :destroy_user_session , :ico => 'fa-sign-out', :class => 'btn tep-transparent' %></li>
          <% else %>
            <li><%= ilink_to 'Přihlášení', :new_user_session , :ico => 'fa-user', :class=> 'btn tep-transparent' %> </li>
          <% end %>
        </ul>
        </span>
        <%#
        <div id="nav-search" class="nav-search pull-right">
          <form class="form-search">
            <span class="input-icon">
              <input type="text" class="nav-search-input" id="nav-search-input" autocomplete="off" placeholder="Search ..." />
              <i class="ace-icon fa fa-search nav-search-icon"></i>
            </span>
          </form>
        </div>
        %>
     </div>


    <% if false %>
    <div class="navbar-buttons navbar-header pull-right ">
      <ul class="nav ace-nav">
        <% if user_signed_in?  %>
          <li><a href="#" class="navbar-link"><%= current_user.email %></a></li>
          <li><%= link_to  'Logout', :destroy_user_session %></li>
        <% else %>
           <li><%= link_to  'Přihlášení', :new_user_session  %></li>
           <li><%#= link_to  'Registrace', :new_user_registration  %></li>
        <% end %>
      </ul>
    </div><%# navbar-buttons %>
    <%end%>
  </div><%# navbar-container %>
</div><%# navbar %>

<%################################################################################## %>
<%# menu na leve strane%>
<%################################################################################## %>

<% is_bonus_active = config_value('show100') == 'yes' %>
<div class="main-container <%if !@wide_display%>container<%end%> <% if @tep_index %>tep-index<% end %>" id="main-container">
  <div class="sidebar responsive
        <%if @wide_display%>menu-min<%end%>
        <%if @no_sidebar %>hide<%end%> no-print"
        id="sidebar">
    <ul class="nav nav-list">
      <%= menu_li '/onas', 'O Pikomatu', ico: 'fa-square' do %>
        <ul class="submenu">
          <%= menu_lii wiki_main_path(''),               'Úvod' %>
          <%= menu_lii wiki_main_path('onas/organizatori'),   'Organizátoři' %>
          <%= menu_lii wiki_main_path('onas/onas'),           'Kontakty'  %>
          <%= menu_lii wiki_main_path('onas/historie'),        'Historie'   %>
        </ul>
      <% end %>
      <%= menu_li '/onas', 'Zadání', ico: 'fa-edit' do %>
        <ul class="submenu">
          <%= menu_lii wiki_main_path('archiv/aktualni'),   'Aktuální série' %>
          <%= menu_lii wiki_main_path('archiv'),            'Archiv příkladů' %>

           <% if is_bonus_active %>
            <%= menu_lii wiki_main_path('bonus'),        'Prázdninová série' %>
          <% end %>
          <%= menu_lii wiki_main_path('pravidla'),           'Pravidla'  %>
          <%#= menu_lii wiki_main_path('onas/faq'),                'Otázky a odpovědi'   %>
        </ul>
      <% end %>
      <%= menu_li '/onas', 'Akce', ico: 'fa-bomb' do %>
        <ul class="submenu">
          <%= menu_lii wiki_main_path('tabor'),        'Tábory' %>
          <%= menu_lii wiki_main_path('soustredeni'),  'Soustředění' %>
          <%= menu_lii wiki_main_path('setkani'),      'Setkání'  %>
          <%= menu_lii wiki_main_path('fotky'),        'Fotky'  %>
        </ul>
      <% end %>
      <%= menu_li '/onas', 'Přihláška', ico: 'fa-book' do %>
        <ul class="submenu">
          <%= menu_lii :new_user_session,        'Přihlásit' %>
          <%= menu_lii :sosna_solver_new,        'Nový řešitel' %>
          <%#= menu_lii wiki_main_path('/tabor/prihlaska'),  'Přihláška na tábor'  %>
        </ul>
      <% end %>
      <% if user_signed_in?  %>
        <%= menu_li '#', 'Uživatel', ico: 'fa-user' do %>
          <ul class="submenu">
            <%= menu_lii :sosna_solutions_user,   'Moje řešení' %>
            <% if is_bonus_active %>
              <%= menu_lii :sosna_solutions_user_bonus,   'Řešení bonusových příkladů' %>
            <% end %>
            <%= menu_lii :edit_user_registration, 'Změna hesla' %>
            <%= menu_lii wiki_main_path('faq'),   'Nápověda'   %>
          </ul>
        <% end %>
      <% else %>
      <% end %>
      <% if current_user && current_user.has_role?(:org) %>
        <%= menu_li '#', 'Org', ico: 'fa-flag' do %>
          <ul class="submenu">
            <%= menu_lii :sosna_solvers,       'Řešitelé' %>
            <%= menu_lii :sosna_solutions_org, 'Řešení řešitelů' %>
            <%= menu_lii :wiki_piki,           'Piki'  %>
            <%#= menu_lii :wiki_web,            'Web' %>
            <%= menu_lii wiki_web_edit_path('index', :ls => '.'),       'Web Edit'%>
            <%= menu_lii wiki_piki_path('opravovatele'),                'Opravovatelé'%>
            <%= menu_lii wiki_piki_path('priklady'),                    'Příklady'%>
            <%= menu_lii 'https://pikomat.mff.cuni.cz/klep',            'Klep' %>
            <%= menu_lii 'https://pikomat.mff.cuni.cz/sklep',           'Sklep' %>
            <%= menu_lii 'https://pikomat.mff.cuni.cz/sklep/index.php/apps/calendar/',           'Sklepový kalendář' %>
          </ul>
        <% end %>
      <% end %>
      <% if current_user && current_user.has_role?(:admin) %>
        <%= menu_li '#', 'Admin', ico: 'fa-eye' do %>
          <ul class="submenu">
            <%= menu_lii :users_list,       'Uživatelé' %>
            <%= menu_lii :sosna_configs,   'Konfigurace' %>
            <%= menu_lii :sosna_schools,       'Školy' %>
            <%= menu_lii :sosna_problems,      'Úlohy' %>
            <%= menu_lii :sosna_solver_aesop,  'Aesop' %>
          </ul>
        <% end %>
      <% end %>
    </ul>
    <div id="sidebar-collapse" class="sidebar-toggle sidebar-collapse">
      <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>
  </div> <%# sidebar %>

  <div id='main-content-id'  <%if ! @no_sidebar%>class="main-content"<% end %>>

<%################################################################################## %>
<%# cesta %>
<%################################################################################## %>

  <%#
    # struktura @breadcumb
    # [ cast1, cast2, cast3 ]
    # cast1 : [ item1, item2, item2, ... ]
    # item:
    #        { name: "Série #{round}",
    #          active: true|false,
    #          url: url_for(roc: annual, se: round),
    #          sub: [ {name:"", url:""} , ...  ] # vyrolovaci menu
    #        }
    #%>
  <% if @breadcrumb %>
    <div id="breadcrumbs" class="breadcrumbs no-print">
<%################################################################################## %>
<%# akcni tlacitka %>
<%################################################################################## %>
       <%= yield :action_buttons %>
       <ul class="breadcrumb">
         <% @breadcrumb.each_with_index do |b, idx| %>
           <% b.each_with_index do |bread| %>
             <% if ! bread[:active] || true %>
               <li class="<%= idx == 0 ? 'tep-slash' : ''%>">
                 <% if bread[:ico] %><i class="fa <%= bread[:ico] %> home-icon"></i><% end %>
                 <% if bread[:sub] %>
                   <div class="inline pos-rel">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                     <%= bread[:name].capitalize %>
                     <i class="fa fa-caret-down"></i></a>
                     <ul class="dropdown-menu dropdown-light dropdown-caret dropdown-closer">
                       <% bread[:sub].each do |bread2| %>
                         <li><%=link_to  bread2[:name].capitalize, bread2[:url] %></li>
                       <% end %>
                     </ul>
                   </div>
                 <% else %>
                   <%=link_to  bread[:name].capitalize, bread[:url] %>
                 <% end %>
               </li>
             <% elsif bread[:name] !~  /^index$/i %>
               <li> <%=  bread[:name].capitalize %></li>
             <% end %>
           <% end %>
         <% end %>
       </ul>
       <div style='padding-left:12px' id="page-content-top2"></div>
     </div><%#breadcrumb %>
   <% end %>


   <div class="page-content">

     <div class="row">
       <div id="page-content-top" class="col-xs-12">
<%################################################################################## %>
<%# alerty %>
<%################################################################################## %>
        <% if flash[:alerts] %>
          <% flash[:alerts].each do |msg| %>
            <div class="alert alert-danger"> <%= msg %> </div>
          <% end %>
        <% end %>
        <% if flash[:success] %>
          <% flash[:success].each do |msg| %>
            <div class="alert alert-success"> <%=msg %> </div>
          <% end %>
        <% end %>

<%################################################################################## %>
<%# obsah stranky %>
<%################################################################################## %>
        <%= yield %>


       </div><!-- /.col -->
     </div><!-- /.row -->
   </div><!-- /.page-content -->

  </div><!-- /.main-content -->

<%################################################################################## %>
<%# paticka %>
<%################################################################################## %>
  <div class="footer no-print">
    <div class="footer-inner">
       <div class="footer-content">
          <small>V případě obtíží se obrať na
                 <%# pikomat@pikomat.mff.cuni.cz %>
                 <span class="mailcrypt" id="atvzxle5atvzxle1xqq1nfyt1nk">
                    <i class="fa fa-envelope-o"></i>
                    <img src="<%= asset_path('/mails/pikomatpikomatmffcunicz_efcfb78f82c72359cdaa34abc07699a7c1944c3b.png')%>"/>
                 </span>
          </small>
          <% path = request.path[ url_for(:root).size .. -1 ].sub(/^web(ed)?/, '').sub(/\.html$/,'');
            docroot =  '/home/www/html/';
             ex = (File.file?(docroot + path + '.html'))
           %>
           <% if ex %>
             [<a href="http://pikomat.mff.cuni.cz/retro/<%=path%>.html">retro verze</a>]
            <% end %>
            <div class="pull-right">
              <div class="ace-settings-item" >
                                <select id="skin-colorpicker" class="">
                                    <%  selected = case cookies['ace.skin'.to_sym] || 'no-skin'
                                                   when 'no-skin' ; '#438EB9'
                                                   when 'skin-1'  ; '#222A2D'
                                                   #when 'skin-2'  ; '#C6487E'
                                                   when 'skin-2'  ; '#3A5147'
                                                   when 'skin-3'  ; '#D0D0D0'
                                                   when 'skin-green'  ; 'green'
                                                   else '#438EB9'
                                                   end
                                     %>

                                    <%= options_for_select(
                                        [ [ '#438EB9', { 'data-skin' => 'no-skin'} ],
                                          [ '#222A2D', { 'data-skin' => 'skin-1'} ],
                                          #[ '#C6487E', { 'data-skin' => 'skin-2'} ],
                                          [ '#3A5147', { 'data-skin' => 'skin-2'} ],
                                          [ '#D0D0D0', { 'data-skin' => 'skin-3'} ],
                                          [ 'green', { 'data-skin' => 'skin-green'} ],
                                        ], selected) %>
                                </select>
              </div>
           </div>
	</div>
      </div>
    </div>
</div><!-- /.main-container -->

<%#= javascript_include_tag '/ace/js/ace-extra.min.js' %>
<%= javascript_include_tag '/ace/js/uncompressed/ace-extra.js' %>

<%= javascript_include_tag '/ace/js/jquery.min.js' %>
<%= javascript_include_tag '/ace/js/bootstrap.min.js' %>
<%= javascript_include_tag '/ace/js/jquery-ui.custom.min.js' %>
<%= javascript_include_tag '/ace/js/jquery.ui.touch-punch.min.js' %>
<%= javascript_include_tag '/ace/js/jquery.easypiechart.min.js' %>
<%= javascript_include_tag '/ace/js/jquery.sparkline.min.js' %>
<%= javascript_include_tag '/ace/js/flot/jquery.flot.min.js' %>
<%#= javascript_include_tag '/ace/js/flot/jquery.flot.pie.min.js' %>
<%#= javascript_include_tag '/ace/js/flot/jquery.flot.resize.min.js' %>
<%# javascript_include_tag '/ace/js/jquery.dataTables.min.js' %>
<%= javascript_include_tag '/ace/js/uncompressed/jquery.dataTables.js' %>
<%#= javascript_include_tag '/ace/js/uncompressed/jquery.dataTables-1.10.16.js' %>
<%= javascript_include_tag '/ace/js/jquery.dataTables.bootstrap.js' %>
<%= javascript_include_tag '/ace-editor/ace.js' %>
<%= javascript_include_tag '/ace/js/ace-elements.min.js' %>
<%# javascript_include_tag '/ace/js/ace.min.js' %>
<%= javascript_include_tag '/ace/js/uncompressed/ace.js' %>
<%= javascript_include_tag '/javascripts/tep.js' %>

</body>
</html>
