<!DOCTYPE html>
<html>
<head>
  <title>Pia</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div style="background-color:gray" class="">
<% if user_signed_in?  %>
  email: <%= current_user.email %> |
  <%= link_to  'Logout out', :destroy_user_session %> |
  <%= link_to  'Change password', :edit_user_registration %> |
<% else %>
  anonymous |
  <%= link_to  'Login', :new_user_session  %> |
  <%= link_to  'Register', :new_user_registration  %> |
  <%= link_to  'Upload', :new_user_registration  %> |
<% end %>
</div>

<%= yield %>

</body>
</html>
