<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <!-- use the following meta to force IE use its most up to date rendering engine -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <%#  rozmyslet: viz http://pikomat.ms.mff.cuni.cz/pokusy/ace-admin/docs/#basics/layout  %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  
  <title>Pikomat MFF UK</title>
  <meta name="description" content="pikomat korespondenční matematický seminář, soustředění matematické tábory" />
  <%= stylesheet_link_tag '/ace/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag '/ace/css/font-awesome.min.css' %>
  <%= stylesheet_link_tag '/ace/css/ace-fonts.css' %>
  <%= stylesheet_link_tag '/ace/css/chosen.css' %>
  <%= stylesheet_link_tag '/ace/css/ui.jqgrid.css' %>
  <%= stylesheet_link_tag '/ace/css/ace.min.css' %>
  <%# stylesheet_link_tag '/ace/css/ace-part2.css' %>
  <%= stylesheet_link_tag '/ace/css/ace-skins.min.css' %>
  <%= javascript_include_tag '/ace/js/ace-extra.min.js' %>

  <%# stylesheet_link_tag '/ace/BLABLA.css' %>
  <%# stylesheet_link_tag 'bootstrap.css'  %>
  <%# stylesheet_link_tag 'bootstrap-responsive.css'  %>
  <%# stylesheet_link_tag 'bootstrap-colors.css'  %>
  <%# stylesheet_link_tag 'andulka/stylesheet.css' %>
  <%# stylesheet_link_tag 'jquery.dataTables.css' %>
  <%# stylesheet_link_tag 'tep.css' %>
  <%# javascript_include_tag 'jquery-1.10.2.js' %>
  <%# javascript_include_tag 'jquery.dataTables.js' %>
  <%# javascript_include_tag 'bootstrap.js' %>
  <%# javascript_include_tag 'application.js' %>
  <%# csrf_meta_tag %>

</head>
<body class="no-skin">

<% if ENV['RAILS_ENV'] != 'production'  %>
<img src="<%= asset_path 'images/devel-version.png'%>" style='z-index:99;position:fixed;bottom:0;right:0;border:0;'>
<% end %>

<div class="navbar" id="navbar navbar-default">


  <div id="navbar-container" class="navbar-container container">
  
    <div class="navbar-header pull-left">
      <a href="#" class="navbar-brand">
        <small><i class="ace-icon fa fa-square"></i> Pikomat </small>
     </a>
    </div>
    <div class="navbar-buttons navbar-header pull-right navbar-collapse collapse">
      <ul class="nav ace-nav">
        <% if user_signed_in?  %>
          <li><a href="#" class="navbar-link"><%= current_user.email %></a></li>
          <li><%= link_to  'Logout', :destroy_user_session %></li>
        <% else %>
           <li><%= link_to  'Přihlášení', :new_user_session  %></li>
           <li><%#= link_to  'Registrace', :new_user_registration  %></li>
        <% end %>
      </ul>
    </div><%# navbar-buttons %>
  </div><%# navbar-container %>
</div><%# navbar %>

 
<div class="main-container container" id="main-container">
  <div class="sidebar responsive" id="sidebar">
    <div class="sidebar responsive" id="sidebar">
<%#      <div class="sidebar-shortcuts" id="sidebar-shortcuts">
      ...
      </div> %>
      <ul class="nav nav-list">
        <% if user_signed_in?  %>
          <li><a href="#"><i class="menu-icon fa fa-user"></i><span class="menu-text"> Uživatel</span></a></li>
          <%= menu_li '#', 'Uzivatel2', 'dropdown-toggle fa-user' %>
          <%= menu_li '#', 'Uzivatel 3', 'fa-user' do %>
	    
	    <ul class="submenu nav-show" style="display:block"> 
	      <%= menu_li :sosna_solutions_user, 'Moje řešení', 'fa-lightbulb-o' %>
	      <%= menu_li :edit_user_registration, 'Moje řešení', 'fa-lightbulb-o' %>
              <%= menu_li :sosna_solutions_user, 'Změna hesla', ''  %>
              <%= menu_li :faq, 'Nápověda', ''  %>
	    </ul>
          <% end %>
        <% else %>
        <% end %>
        <% if current_user && current_user.has_role?(:org) %>
          <li class="nav-header">Org</li>
          <li><%= link_to 'Řešitelé', :sosna_solvers %></li>
          <li><%= link_to 'Řešení řešitelů', :sosna_solutions_org %></li>
          <li><%= link_to 'Úlohy', :sosna_problems %></li>
          <li><%= link_to 'Školy', :sosna_schools %></li>
          <li><%= link_to 'Wiki', :wiki_main  %></li>
          <li><%= link_to 'Web', :wiki_web  %></li>
          <li><%= link_to 'Web Edit', :wiki_web_edit  %></li>
        <% end %>
        <% if current_user && current_user.has_role?(:admin) %>
          <li class="nav-header">Admin</li>
          <li><%= link_to 'Uživatelé', :users_list  %></li>
          <li><%= link_to 'Konfigurace', :sosna_configs  %></li>
        <% end %>
        <li class="nav-header">Odkazy</li>
        <li><%= link_to 'Pikomat', 'http://pikomat.mff.cuni.cz/' %></li>
        <% if ! current_user %>
          <li><%= link_to 'Přihláška', :sosna_solver_new  %></li>
          <li><%= link_to  'Nápověda', :faq%></li>
        <% end %> 
      </ul>
    </div>
  </div>
  
  <div class="main-content">

   <div class="page-content">
     <div class="row">
       <div class="col-xs-12">
        <!-- page content goes here -->
        <%= yield %>
       </div><!-- /.col -->
     </div><!-- /.row -->
   </div><!-- /.page-content -->

   <div class="footer">
     <div class="footer-inner">
        <div class="footer-content">
          <small>V případě obtíží se obrať na <a href="mailto:pikomat@pikomat.mff.cuni.cz">pikomat@pikomat.mff.cuni.cz</a>.<small>
	</div>
     </div>
  </div><!-- /.main-content -->
</div><!-- /.main-container -->

<!-- list of script files -->
<!--[if !IE]> -->
<%= javascript_include_tag '/ace/js/jquery.min.js' %>
<!-- <![endif]-->
<!--[if lte IE 9]>
<%= javascript_include_tag '/ace/js/jquery1x.min.js' %>
<![endif]-->
<%= javascript_include_tag '/ace/js/ace-elements.min.js' %>
<%= javascript_include_tag '/ace/js/ace.min.js' %>
  

</body>
</html>

