<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <!-- use the following meta to force IE use its most up to date rendering engine -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <%#  rozmyslet: viz http://pikomat.ms.mff.cuni.cz/pokusy/ace-admin/docs/#basics/layout  %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <title>Pikomat MFF UK</title>
  <meta name="description" content="pikomat korespondenční matematický seminář, soustředění matematické tábory" />
  <%= stylesheet_link_tag '/ace/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag '/ace/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag '/ace/css/font-awesome.min.css' %>
  <%= stylesheet_link_tag '/ace/css/ace-fonts.css' %>
  <%# stylesheet_link_tag '/ace/css/ace.min.css' %>
  <%= stylesheet_link_tag '/ace/css/uncompressed/ace.css' %>
  <%= stylesheet_link_tag '/ace/css/ace-skins.min.css' %>
  <%= stylesheet_link_tag '/ace/css/ace-rtl.min.css' %>
  <%= stylesheet_link_tag '/ace/css/chosen.css' %>
  <%= stylesheet_link_tag '/ace/css/ui.jqgrid.css' %>
  <%# stylesheet_link_tag '/ace/css/ace-part2.css' %>
  <%= stylesheet_link_tag '/ace/css/ace-skins.min.css' %>

  <%= stylesheet_link_tag 'andulka/stylesheet.css' %>
  <%= stylesheet_link_tag 'tep.css' %>

  <%= javascript_include_tag '/ace/js/ace-extra.min.js' %>

</head>
<body class="no-skin">

<% if ENV['RAILS_ENV'] != 'production'  %>
<img src="<%= asset_path 'images/devel-version.png'%>" style='z-index:99;position:fixed;bottom:0;right:0;border:0;'>
<% end %>

<div class="navbar" id="navbar navbar-default">


  <div id="navbar-container" class="navbar-container container">

    <div class="navbar-header pull-left">
      <a href="<%=url_for '/'%>" class="navbar-brand " >
        <small><i class="ace-icon fa fa-square"></i> Pikomat </small>
     </a>
    </div>
    <div class="navbar-buttons navbar-header pull-right ">
      <ul class="nav ace-nav">
        <% if user_signed_in?  %>
          <li><a href="#" class="navbar-link"><%= current_user.email %></a></li>
          <li><%= link_to  'Logout', :destroy_user_session %></li>
        <% else %>
           <li><%= link_to  'Přihlášení', :new_user_session  %></li>
           <li><%#= link_to  'Registrace', :new_user_registration  %></li>
        <% end %>
      </ul>
    </div><%# navbar-buttons %>
  </div><%# navbar-container %>
</div><%# navbar %>


<div class="main-container container" id="main-container">
  <% if ! @no_sidebar %>
  <div class="sidebar responsive x-menu-min" id="sidebar">
<%#   <div class="sidebar-shortcuts" id="sidebar-shortcuts">
      ...
      </div>
  #%>
    <ul class="nav nav-list">
      <%= menu_li '/tabor', 'Pikomat', ico: 'fa-square' do %>
        <ul class="submenu">
          <%= menu_lii '/',        'Hlavní stránka' %>
          <%= menu_lii '/tabor',   'Tábory' %>
          <%= menu_lii '/archiv',  'Archiv příkladů'  %>
          <%= menu_lii '/fotky',   'Fotky'   %>
        </ul>
      <% end %>
      <% if user_signed_in?  %>
        <%= menu_li '#', 'Uživatel', ico: 'fa-user' do %>
          <ul class="submenu">
            <%= menu_lii :sosna_solutions_user,   'Moje řešení' %>
            <%= menu_lii :edit_user_registration, 'Změna hesla' %>
            <%= menu_lii :faq,                    'Nápověda'   %>
          </ul>
        <% end %>
      <% else %>
      <% end %>
      <% if current_user && current_user.has_role?(:org) %>
        <%= menu_li '#', 'Org', ico: 'fa-flag' do %>
          <ul class="submenu">
            <%= menu_lii :sosna_solvers,       'Řešitelé' %>
            <%= menu_lii :sosna_solutions_org, 'Řešení řešitelů' %>
            <%= menu_lii :sosna_problems,      'Úlohy' %>
            <%= menu_lii :sosna_schools,       'Školy' %>
            <%= menu_lii :wiki_main,           'Wiki' %>
            <%= menu_lii :wiki_web,            'Web' %>
            <%= menu_lii :wiki_web_edit,       'Web Edit'%>
          </ul>
        <% end %>
      <% end %>
      <% if current_user && current_user.has_role?(:admin) %>
        <%= menu_li '#', 'Admin', ico: 'fa-eye' do %>
          <ul class="submenu">
            <%= menu_lii :users_list,       'Uživatelé' %>
            <%= menu_lii :sosna_configs,   'Konfigurace' %>
          </ul>
        <% end %>
      <% end %>
    </ul>
    <div id="sidebar-collapse" class="sidebar-toggle sidebar-collapse">
      <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>
  </div> <%# sidebar %>
  <% end # no_sidebar %>

  <% if @no_sidebar %>
    <div>
  <% else %>
    <div class="main-content">
  <% end %>

  <% if @breadcrumb %>
    <div id="breadcrumbs" class="breadcrumbs">
      <ul class="breadcrumb">
         <% @breadcrumb[0].each_with_index do |bread| %>
           <% if ! bread[:active] %>
             <li>
               <% if bread[:ico] %><i class="fa <%= bread[:ico] %> home-icon"></i><% end %>
               <%=link_to  bread[:name].capitalize, bread[:url] %></li>
           <% elsif bread[:name] !~  /^index$/i %>
             <li> <%=  bread[:name].capitalize %></li>
           <% end %>
         <% end %> 
       </ul>
       <div class="pull-right">
         <div class="btn-group btn-corner ">
           <a type='submit' class='btn btn-info btn-white btn-sm btn-round'><i class="ace-icon fa fa-check"></i>Stahnout řešení jako .zip</a>
           <a type='submit' class='btn btn-info btn-white btn-sm btn-round'><i class="ace-icon fa fa-check"></i>Stahnout řešení jako .zip</a>
         </div>
         <div class="btn-group btn-corner ">
           <a data-toggle="collapse" data-parent='#row' href="#tools-more" type='submit' class='btn btn-info btn-white btn-sm btn-round'><i class="ace-icon fa fa-angle-double-down"></i></a>
         </div>
       </div>
     </div>
   <% end %>
   <div class="page-content">

     <div class="row">
       <div id="page-content-top" class="col-xs-12">
        <!-- page content goes here -->
        <%= yield %>


       </div><!-- /.col -->
     </div><!-- /.row -->
   </div><!-- /.page-content -->

   <div class="footer">
     <div class="footer-inner">
        <div class="footer-content">
          <small>V případě obtíží se obrať na <a href="mailto:pikomat@pikomat.mff.cuni.cz">pikomat@pikomat.mff.cuni.cz</a>.<small>
	</div>
     </div>
  </div><!-- /.main-content -->
</div><!-- /.main-container -->

<%= javascript_include_tag '/ace/js/jquery.min.js' %>
<%= javascript_include_tag '/ace/js/bootstrap.min.js' %>
<%= javascript_include_tag '/ace/js/jquery-ui.custom.min.js' %>
<%= javascript_include_tag '/ace/js/jquery.ui.touch-punch.min.js' %>
<%= javascript_include_tag '/ace/js/jquery.easypiechart.min.js' %>
<%= javascript_include_tag '/ace/js/jquery.sparkline.min.js' %>
<%= javascript_include_tag '/ace/js/flot/jquery.flot.min.js' %>
<%= javascript_include_tag '/ace/js/flot/jquery.flot.pie.min.js' %>
<%= javascript_include_tag '/ace/js/flot/jquery.flot.resize.min.js' %>
<%# javascript_include_tag '/ace/js/jquery.dataTables.min.js' %>
<%= javascript_include_tag '/ace/js/uncompressed/jquery.dataTables.js' %>
<%= javascript_include_tag '/ace/js/jquery.dataTables.bootstrap.js' %>
<%= javascript_include_tag 'application.js' %>


<script type="text/javascript"> ace.vars['base'] = '/ace'; </script>

<%= javascript_include_tag '/ace/js/ace-elements.min.js' %>
<%= javascript_include_tag '/ace/js/ace.min.js' %>


</body>
</html>

