<!DOCTYPE html>
<html>
<head>
  <title>Pikomat MFF UK</title>
  <%= stylesheet_link_tag 'bootstrap.css'  %>
  <%= stylesheet_link_tag 'bootstrap-responsive.css'  %>
  <%= stylesheet_link_tag 'andulka/stylesheet.css' %>
  <%= stylesheet_link_tag 'pia.css' %>
  <%= javascript_include_tag 'jquery-1.10.2.js' %>
  <%= javascript_include_tag 'bootstrap.js' %>
  <%= javascript_include_tag 'application.js' %>
  <%= csrf_meta_tag %>
</head>
<body>


    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container-fluid">
          <%= link_to  'Pikomat MFF UK' , :root, :class => 'brand' %>
          <div class="nav-collapse collapse">
                <% if user_signed_in?  %>
                  <p class="navbar-text pull-right">
                     <a href="#" class="navbar-link"><%= current_user.email %></a>
                     <%= link_to  'Logout', :destroy_user_session %>
                  </p>
                <% else %>
                  <p class="navbar-text pull-right">
                     <%= link_to  'Přihlášení', :new_user_session  %>
                     <%#= link_to  'Registrace', :new_user_registration  %>
                  </p>
                <% end %>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>




<div style="background-color:gray" class="">
</div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">

              <% if user_signed_in?  %>
                <li class="nav-header">Uživatel</li>
                  <li><%= link_to  'Moje řešení', :sosna_solutions_user %></li>
<!--                  <ul>
                   <li>Bla</li>
                   <li>Bla</li>
                   <ul>
                     <li><%= link_to 'Claalsjdflkjasdlkfj alvkja sdlkjf'%></li>
                     <li>Cla</li>
                     <li>Cla</li>
                     <li>Cla</li>
                   </ul>
                   <li>Bla</li>
                  </ul>
  -->
                  <li><%= link_to  'Změna hesla', :edit_user_registration %></li>
              <% else %>
              <% end %>
              <% if current_user && current_user.has_role?(:org) %>
                <li class="nav-header">Org</li>
                <li><%= link_to 'Řešitelé', :sosna_solvers %></li>
                <li><%= link_to 'Řešení řešitelů', :sosna_solutions_org %></li>
                <li><%= link_to 'Úlohy', :sosna_problems %></li>
                <li><%= link_to 'Školy', :sosna_schools %></li>
                <li><%= link_to 'Konfigurace', :sosna_configs  %></li>
                <li><%= link_to 'Wiki', :wiki  %></li>
              <% end %>
              <% if current_user && current_user.has_role?(:admin) %>
                <li class="nav-header">Admin</li>
                <li><%= link_to 'Uživatelé', :users_list  %></li>
              <% end %>
              <li class="nav-header">Odkazy</li>
              <li><%= link_to 'Pikomat', 'http://pikomat.mff.cuni.cz/' %></li>
<!--              <li><%= link_to 'Přihláška', :sosna_solver_new  %></li>
              <li><%= link_to 'Archiv', '#' %></li>
              <li><%= link_to 'Tábory', '#' %></li>
              <li><%= link_to 'O nás', '#'  %></li>
  -->
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">

<%if notice %><p class="notice"><%= notice %></p><% end %>
<%if alert %><p class="alert"><%= alert %></p><% end %>

<% if flash[:errors] %>
  <% flash[:errors].each do |key,msg| %>
  <div class="alert alert-error">
    <strong><%= key.capitalize %></strong> <%=msg %>
    </div>
  <% end %>
<% end %>
<% if flash[:success] %>
  <% flash[:success].each do |key,msg| %>
  <div class="alert alert-success">
    <strong><%= key.capitalize %></strong> <%=msg %>
    </div>
  <% end %>
<% end %>

<%# @breadrubb [[ {name => 'home', url=> '/home.html', sub => [...], }  ]]  %>
<%# @breadrubb [[ {btn => } %>
<% if @breadcrumb %>
<ul class="breadcrumb">
   <% @breadcrumb.each_with_index do |bread, bread_idx| %>
     <% bread.each do |crumb, crumb_idx| %>
        <% msep, esep = case bread_idx
                        when 0 then ['/', '>']
                        when 1 then [',', '|']
                        else [',', '|']
                        end -%>
         <li <% if crumb[:active] || crumb[:sub] %>class="active"<% end  %>>
            <% if crumb[:sub] %>
               <span class="dropdown">
               <%#= link_to   '#', :class => 'dropdown-toggle', 'data-target'=>'#', 'data-toggle'=> "dropdown", :role=>"button"  do %>
               <span class='dropdown-toggle' data-target="#" data-toggle="dropdown" role="button"  >
                 <%= crumb[:name] %>
                 </span>
               <%# end # link_to %>
               <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                 <% crumb[:sub].each do |sub| %>
                   <li role="presentation"><%= link_to sub[:name], sub[:url] %></li>
                  <%# <li role="presentation"><a role="menuitem" tabindex="-1" href="http://gxxxle.com">Action 1</a></li> %>
                 <% end %>
               </ul>
               </span>
            <% else %>
               <% if crumb[:active] %>
                 <%= crumb[:name] %>
               <% else %>
                 <%= link_to crumb[:name],  crumb[:url] %>
               <% end %>
            <% end %>
            <% if bread.last != crumb %>
                        <span class="divider"><%= msep %></span>
            <% elsif @breadcrumb.last != bread %>
                        <span class="divider"><%= esep %></span>
            <% end %>
         </li>
         <% if crumb[:btn] %>
           <li class="pull-right">
             <%= link_to crumb[:btn][:url], :class=>"btn btn-mini btn-danger" do  %>
                    <%=crumb[:btn][:name]%>
             <% end %>
           </li>
         <% end %>
     <% end %>
   <% end %>
</ul>
<% end %>

<%= yield %>
     </div>
   </div>
</div>

</body>
</html>
